In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("GSE67058_terminators.txt", delimiter="\t")
df

,POT,Strand,Relative position,%T (+ NusA),%T (– NusA),Δ%T,p-value,Terminator identified,U-tract (9 nt),ΔG (kCal/mol),Hairpin mismatch
0,1839,+,dnaA+89nt,71.26,25.51,45.75,0.000005,UCGGAAGUCAUACACAGUCUGUCCACAUGUGGAUAGGCUGUGUUUC...,UUUCCUGUC,-20.7,-
1,3113,+,dnaN+38nt,81.23,38.34,42.89,0.000002,AGAACCUAUUAAUCCGAUACACUGCUGCCGACCCGUCGGCAGCUUU...,UUUUCUAUU,-15.0,-
2,6827,+,gyrB+44nt,86.22,59.70,26.52,0.003400,AUCUAAUCAUAAAAAGCCUUAUUUCCAAUAAGAAAUAAGGCUUUUU...,UUUUUUCUG,-11.9,-
3,9494,+,gyrA+35nt,99.10,99.21,-0.11,0.570000,CAAGAAGAAGUGUGAAAAAAAGCGCAGCUGAAAUAGCUGCGCUUUU...,UUUUUUGUG,-13.7,-
4,17435,+,guaB+54nt,99.13,96.51,2.62,0.002300,UUGUUACAAAUUAAAAACAUUUGACAGGGUCUCUGACUCUGUCUAU...,UAUUUUUUU,-11.3,-
...,...,...,...,...,...,...,...,...,...,...,...
1468,4203099,-,yyzM+25,74.40,14.04,60.36,0.000008,CAAGCAUGAGGAGCCUACUUCAUAAAUAGGCCGACACUCAUGCUUU...,UUUUUCAUA,-14.4,2x5
1469,4205517,-,parB+39nt,70.76,53.87,16.89,0.171000,GAGAAUCAUAAAUGAAAAAACCAUCUUUCAAACGAAGAUGGUUUUU...,UUUUUAUUU,-7.7,-
1470,4207866,-,noc+31nt,96.43,94.87,1.56,0.419000,GAUUCGCAUACCAAAAUAGAAGCUCUCCUGAAAAGCAGGAGAGCUU...,UUUUUAUAU,-15.6,-
1471,4213157,-,jag+43nt,98.85,99.41,-0.56,0.389000,AAGAUAGCAUAAAACCGAAGUCCGAUAAAAAUUGGAUUUCGGUUUU...,UUUUUUUGU,-15.4,-
1472,4215226,-,rpmH+29nt,76.36,79.66,-3.30,0.034200,AGAAAAGUAUUAUCAGCUUAGGCCACUGAAUAAUGUCAGUGGUCUU...,UUUUUUCAC,-13.1,-

In [4]:
df.drop(["Relative position", "%T (+ NusA)", "%T (– NusA)", "p-value", "Terminator identified", "U-tract (9 nt)", "Hairpin mismatch"], axis=1, inplace=True)
df

          POT Strand    Δ%T  ΔG (kCal/mol)
0        1839      +  45.75          -20.7
1        3113      +  42.89          -15.0
2        6827      +  26.52          -11.9
3        9494      +  -0.11          -13.7
4       17435      +   2.62          -11.3
...       ...    ...    ...            ...
1468  4203099      -  60.36          -14.4
1469  4205517      -  16.89           -7.7
1470  4207866      -   1.56          -15.6
1471  4213157      -  -0.56          -15.4
1472  4215226      -  -3.30          -13.1

[1473 rows x 4 columns]

In [5]:
print(df.isna().sum())

POT              0
Strand           0
Δ%T              0
ΔG (kCal/mol)    0
dtype: int64

In [6]:
df["gene"] = [f"NC_000964.3_{i}" for i in range(len(df))]
df

          POT Strand    Δ%T  ΔG (kCal/mol)              gene
0        1839      +  45.75          -20.7     NC_000964.3_0
1        3113      +  42.89          -15.0     NC_000964.3_1
2        6827      +  26.52          -11.9     NC_000964.3_2
3        9494      +  -0.11          -13.7     NC_000964.3_3
4       17435      +   2.62          -11.3     NC_000964.3_4
...       ...    ...    ...            ...               ...
1468  4203099      -  60.36          -14.4  NC_000964.3_1468
1469  4205517      -  16.89           -7.7  NC_000964.3_1469
1470  4207866      -   1.56          -15.6  NC_000964.3_1470
1471  4213157      -  -0.56          -15.4  NC_000964.3_1471
1472  4215226      -  -3.30          -13.1  NC_000964.3_1472

[1473 rows x 5 columns]

In [7]:
df["start"] = df["POT"] - 1
df["end"] = df["POT"]
df

          POT Strand    Δ%T  ΔG (kCal/mol)              gene    start      end
0        1839      +  45.75          -20.7     NC_000964.3_0     1838     1839
1        3113      +  42.89          -15.0     NC_000964.3_1     3112     3113
2        6827      +  26.52          -11.9     NC_000964.3_2     6826     6827
3        9494      +  -0.11          -13.7     NC_000964.3_3     9493     9494
4       17435      +   2.62          -11.3     NC_000964.3_4    17434    17435
...       ...    ...    ...            ...               ...      ...      ...
1468  4203099      -  60.36          -14.4  NC_000964.3_1468  4203098  4203099
1469  4205517      -  16.89           -7.7  NC_000964.3_1469  4205516  4205517
1470  4207866      -   1.56          -15.6  NC_000964.3_1470  4207865  4207866
1471  4213157      -  -0.56          -15.4  NC_000964.3_1471  4213156  4213157
1472  4215226      -  -3.30          -13.1  NC_000964.3_1472  4215225  4215226

[1473 rows x 7 columns]

In [8]:
df = df[["gene", "start", "end", "Δ%T", "ΔG (kCal/mol)", "Strand"]]
df

                  gene    start      end    Δ%T  ΔG (kCal/mol) Strand
0        NC_000964.3_0     1838     1839  45.75          -20.7      +
1        NC_000964.3_1     3112     3113  42.89          -15.0      +
2        NC_000964.3_2     6826     6827  26.52          -11.9      +
3        NC_000964.3_3     9493     9494  -0.11          -13.7      +
4        NC_000964.3_4    17434    17435   2.62          -11.3      +
...                ...      ...      ...    ...            ...    ...
1468  NC_000964.3_1468  4203098  4203099  60.36          -14.4      -
1469  NC_000964.3_1469  4205516  4205517  16.89           -7.7      -
1470  NC_000964.3_1470  4207865  4207866   1.56          -15.6      -
1471  NC_000964.3_1471  4213156  4213157  -0.56          -15.4      -
1472  NC_000964.3_1472  4215225  4215226  -3.30          -13.1      -

[1473 rows x 6 columns]

In [9]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
df.to_csv('BacillusSubtilis_168_NC000964.3.bed', sep='\t', index=False, header=False)