In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("mgen-7-524-s002.xlsx", sheet_name= "Terminators", header = 0)

In [4]:
df.head ()

,Terminator,start,end,strand,Free energy [kcal/mol],annotation origin
0,BSGatlas-terminator-1,3037,3081,+,-14.20,Nicolas et al.
1,BSGatlas-terminator-2,3082,3121,+,-16.00,BsubCyc;DBTBS
2,BSGatlas-terminator-3,6788,6833,+,-14.40,BsubCyc;DBTBS
3,BSGatlas-terminator-4,9461,9501,+,-15.97,BsubCyc;DBTBS;Nicolas et al.
4,BSGatlas-terminator-5,14812,14850,+,-15.70,BsubCyc;DBTBS

In [5]:

df.drop(["Terminator"], axis = 1, inplace = True)

In [6]:

df["gene"] = ["ASM904v1" + "_{}".format(j) for j in range(len(df))]
df

,start,end,strand,Free energy [kcal/mol],annotation origin,gene
0,3037,3081,+,-14.20,Nicolas et al.,ASM904v1_0
1,3082,3121,+,-16.00,BsubCyc;DBTBS,ASM904v1_1
2,6788,6833,+,-14.40,BsubCyc;DBTBS,ASM904v1_2
3,9461,9501,+,-15.97,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_3
4,14812,14850,+,-15.70,BsubCyc;DBTBS,ASM904v1_4
...,...,...,...,...,...,...
2561,4207773,4207817,+,-14.50,Nicolas et al.,ASM904v1_2561
2562,4207857,4207899,-,-17.23,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2562
2563,4207867,4207909,+,-17.10,BsubCyc;DBTBS,ASM904v1_2563
2564,4213150,4213197,-,-16.43,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2564
2565,4215217,4215260,-,-16.10,BsubCyc;DBTBS,ASM904v1_2565

In [9]:
fwd = df[df["strand"] == "+"]
rev = df[df["strand"] == "-"]

df["POT"] = pd.concat([fwd["end"], rev["start"]])
df

,start,end,strand,Free energy [kcal/mol],annotation origin,gene,POT
0,3037,3081,+,-14.20,Nicolas et al.,ASM904v1_0,3081
1,3082,3121,+,-16.00,BsubCyc;DBTBS,ASM904v1_1,3121
2,6788,6833,+,-14.40,BsubCyc;DBTBS,ASM904v1_2,6833
3,9461,9501,+,-15.97,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_3,9501
4,14812,14850,+,-15.70,BsubCyc;DBTBS,ASM904v1_4,14850
...,...,...,...,...,...,...,...
2561,4207773,4207817,+,-14.50,Nicolas et al.,ASM904v1_2561,4207817
2562,4207857,4207899,-,-17.23,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2562,4207857
2563,4207867,4207909,+,-17.10,BsubCyc;DBTBS,ASM904v1_2563,4207909
2564,4213150,4213197,-,-16.43,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2564,4213150
2565,4215217,4215260,-,-16.10,BsubCyc;DBTBS,ASM904v1_2565,4215217

In [10]:


df['start'] = df['POT'] - 1
df['end'] = df['POT']

df.drop(["POT"], axis = 1, inplace = True)

df

,start,end,strand,Free energy [kcal/mol],annotation origin,gene
0,3080,3081,+,-14.20,Nicolas et al.,ASM904v1_0
1,3120,3121,+,-16.00,BsubCyc;DBTBS,ASM904v1_1
2,6832,6833,+,-14.40,BsubCyc;DBTBS,ASM904v1_2
3,9500,9501,+,-15.97,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_3
4,14849,14850,+,-15.70,BsubCyc;DBTBS,ASM904v1_4
...,...,...,...,...,...,...
2561,4207816,4207817,+,-14.50,Nicolas et al.,ASM904v1_2561
2562,4207856,4207857,-,-17.23,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2562
2563,4207908,4207909,+,-17.10,BsubCyc;DBTBS,ASM904v1_2563
2564,4213149,4213150,-,-16.43,BsubCyc;DBTBS;Nicolas et al.,ASM904v1_2564
2565,4215216,4215217,-,-16.10,BsubCyc;DBTBS,ASM904v1_2565

In [11]:

df = df[["gene", "start", "end", "annotation origin", "Free energy [kcal/mol]", "strand"]]
df

,gene,start,end,annotation origin,Free energy [kcal/mol],strand
0,ASM904v1_0,3080,3081,Nicolas et al.,-14.20,+
1,ASM904v1_1,3120,3121,BsubCyc;DBTBS,-16.00,+
2,ASM904v1_2,6832,6833,BsubCyc;DBTBS,-14.40,+
3,ASM904v1_3,9500,9501,BsubCyc;DBTBS;Nicolas et al.,-15.97,+
4,ASM904v1_4,14849,14850,BsubCyc;DBTBS,-15.70,+
...,...,...,...,...,...,...
2561,ASM904v1_2561,4207816,4207817,Nicolas et al.,-14.50,+
2562,ASM904v1_2562,4207856,4207857,BsubCyc;DBTBS;Nicolas et al.,-17.23,-
2563,ASM904v1_2563,4207908,4207909,BsubCyc;DBTBS,-17.10,+
2564,ASM904v1_2564,4213149,4213150,BsubCyc;DBTBS;Nicolas et al.,-16.43,-
2565,ASM904v1_2565,4215216,4215217,BsubCyc;DBTBS,-16.10,-

In [12]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
df.to_csv('BacillusSubtilis_168_ASM904v1.bed', sep='\t', index=False, header=False)

# Editing the ref gene

In [1]:
import pandas as pd
df = pd.read_csv("BacillusSubtilis_168_ASM904v1.bed", sep='\t', header=None)
df

                  0        1        2                             3      4  5
0        ASM904v1_0     3080     3081                Nicolas et al. -14.20  +
1        ASM904v1_1     3120     3121                 BsubCyc;DBTBS -16.00  +
2        ASM904v1_2     6832     6833                 BsubCyc;DBTBS -14.40  +
3        ASM904v1_3     9500     9501  BsubCyc;DBTBS;Nicolas et al. -15.97  +
4        ASM904v1_4    14849    14850                 BsubCyc;DBTBS -15.70  +
...             ...      ...      ...                           ...    ... ..
2561  ASM904v1_2561  4207816  4207817                Nicolas et al. -14.50  +
2562  ASM904v1_2562  4207856  4207857  BsubCyc;DBTBS;Nicolas et al. -17.23  -
2563  ASM904v1_2563  4207908  4207909                 BsubCyc;DBTBS -17.10  +
2564  ASM904v1_2564  4213149  4213150  BsubCyc;DBTBS;Nicolas et al. -16.43  -
2565  ASM904v1_2565  4215216  4215217                 BsubCyc;DBTBS -16.10  -

[2566 rows x 6 columns]

In [2]:
df[0] = [f"NC_000964.3_{i}" for i in range(len(df))]
df

,0,1,2,3,4,5
0,NC_000964.3_0,3080,3081,Nicolas et al.,-14.20,+
1,NC_000964.3_1,3120,3121,BsubCyc;DBTBS,-16.00,+
2,NC_000964.3_2,6832,6833,BsubCyc;DBTBS,-14.40,+
3,NC_000964.3_3,9500,9501,BsubCyc;DBTBS;Nicolas et al.,-15.97,+
4,NC_000964.3_4,14849,14850,BsubCyc;DBTBS,-15.70,+
...,...,...,...,...,...,...
2561,NC_000964.3_2561,4207816,4207817,Nicolas et al.,-14.50,+
2562,NC_000964.3_2562,4207856,4207857,BsubCyc;DBTBS;Nicolas et al.,-17.23,-
2563,NC_000964.3_2563,4207908,4207909,BsubCyc;DBTBS,-17.10,+
2564,NC_000964.3_2564,4213149,4213150,BsubCyc;DBTBS;Nicolas et al.,-16.43,-
2565,NC_000964.3_2565,4215216,4215217,BsubCyc;DBTBS,-16.10,-

In [3]:
df.to_csv('BacillusSubtilis_168_NC000964.3.bed', sep='\t', index=False, header=False)