In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tts.csv")
df

      #chr     TTS strand   usTTS
0      CHR    1950      -    -1.0
1      CHR    2848      -    -1.0
2      CHR    5887      +    -1.0
3      CHR    8678      +    -1.0
4      CHR   11923      +    -1.0
...    ...     ...    ...     ...
1538  pHV4  629258      -  5367.0
1539  pHV4  629794      +    -1.0
1540  pHV4  634625      -    -1.0
1541  pHV4  634777      -    53.0
1542  pHV4  634830      -    -1.0

[1543 rows x 4 columns]

In [16]:
df["start"] = df["TTS"].astype(int) - 1
df["end"] = df["TTS"].astype(int) 

df.drop(columns=["TTS"], inplace=True)

df

      #chr strand   usTTS   start     end
0      CHR      -    -1.0    1949    1950
1      CHR      -    -1.0    2847    2848
2      CHR      +    -1.0    5886    5887
3      CHR      +    -1.0    8677    8678
4      CHR      +    -1.0   11922   11923
...    ...    ...     ...     ...     ...
1538  pHV4      -  5367.0  629257  629258
1539  pHV4      +    -1.0  629793  629794
1540  pHV4      -    -1.0  634624  634625
1541  pHV4      -    53.0  634776  634777
1542  pHV4      -    -1.0  634829  634830

[1543 rows x 5 columns]

In [17]:
df["#chr"].value_counts()

CHR     1227
pHV4     187
pHV3      84
pHV1      45
Name: #chr, dtype: int64

In [19]:
CHR = df[df["#chr"] == "CHR"].copy ()
phv4 = df[df["#chr"] == "pHV4"].copy ()
phv3 = df[df["#chr"] == "pHV3"].copy ()
phv1 = df[df["#chr"] == "pHV1"].copy ()

In [20]:
CHR["gene"] = [f"CHR_{i}" for i in range(len(CHR))]
phv4["gene"] = [f"pHV4_{i}" for i in range(len(phv4))]
phv3["gene"] = [f"pHV3_{i}" for i in range(len(phv3))]
phv1["gene"] = [f"pHV1_{i}" for i in range(len(phv1))]

# CHR.drop(columns=["#chr"], inplace=True)
# phv4.drop(columns=["#chr"], inplace=True)
# phv3.drop(columns=["#chr"], inplace=True)
# phv1.drop(columns=["#chr"], inplace=True)

CHR = CHR [["gene", "start", "end", "#chr", "usTTS", "strand"]]
phv4 = phv4 [["gene", "start", "end", "#chr", "usTTS", "strand"]]
phv3 = phv3 [["gene", "start", "end", "#chr", "usTTS", "strand"]]
phv1 = phv1 [["gene", "start", "end", "#chr", "usTTS", "strand"]]

print(CHR.head())
print(phv4.head())
print(phv3.head())
print(phv1.head())

    gene  start    end #chr  usTTS strand
0  CHR_0   1949   1950  CHR   -1.0      -
1  CHR_1   2847   2848  CHR   -1.0      -
2  CHR_2   5886   5887  CHR   -1.0      +
3  CHR_3   8677   8678  CHR   -1.0      +
4  CHR_4  11922  11923  CHR   -1.0      +
        gene  start   end  #chr  usTTS strand
1356  pHV4_0   6105  6106  pHV4   -1.0      +
1357  pHV4_1   6600  6601  pHV4   -1.0      +
1358  pHV4_2   6736  6737  pHV4  136.0      +
1359  pHV4_3   6920  6921  pHV4  184.0      +
1360  pHV4_4   8518  8519  pHV4   -1.0      +
        gene  start    end  #chr  usTTS strand
1272  pHV3_0  16122  16123  pHV3   71.0      -
1273  pHV3_1  16193  16194  pHV3   -1.0      -
1274  pHV3_2  16561  16562  pHV3   -1.0      -
1275  pHV3_3  20712  20713  pHV3   -1.0      +
1276  pHV3_4  55014  55015  pHV3   29.0      -
        gene  start   end  #chr  usTTS strand
1227  pHV1_0   2607  2608  pHV1   -1.0      +
1228  pHV1_1   4302  4303  pHV1   64.0      -
1229  pHV1_2   4366  4367  pHV1   -1.0      -
1230  pHV1_3   4842  4843  pHV1   -1.0      +
1231  pHV1_4   5392  5393  pHV1   -1.0      -

In [21]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    

CHR.to_csv('HaloferaxVolcanii_H119(CHR)_XXXXXX.bed', sep='\t', index=False, header=False)
phv4.to_csv('HaloferaxVolcanii_H119(pHV4)_XXXXXX.bed', sep='\t', index=False, header=False)
phv3.to_csv('HaloferaxVolcanii_H119(pHV3)_XXXXXX.bed', sep='\t', index=False, header=False)
phv1.to_csv('HaloferaxVolcanii_H119(pHV1)_XXXXXX.bed', sep='\t', index=False, header=False)