In [1]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv('pcbi.0010025.sd001 (2).txt', sep='\t')

In [3]:
df.head()

,Genes,Operon name,Terminator position,Delta G [kcal/mole],Terminator,Evidence,References,Comments
0,"dnaA,dnaN",dnaAN,3080..3115,-16.0,ACACU<left>GCUGCCGA</left>CCCG<right>UCGGCAGC<...,Northern blotting (2.9 kb transcript); transcr...,"11395445 (Ogura et al., J. Bacteriol. 183(13):...","Readthrough terminator downstream of dnaA, lea..."
1,"yaaA,recF,yaaB,gyrB",yaaA-recF-yaaB-gyrB,6775..6825,-14.4,AAAAA<left>GCCUUAUUUC</left>CAAUAA<right>GAAAU...,S1 nuclease experiments; transcriptional and e...,"2987848 (Ogasawara et al., Nucleic Acids Res. ...",Internal promoter inside recF. Northern blotti...
2,gyrA,gyrA,9445..9495,-16.9,AAAAA<left>GCGCAGCUG</left>AAA<right>UAGCUGCGC...,S1 nuclease experiments; Northern blotting,"2987847 (Moriya et al., Nucleic Acids Res. 198...",BSORF shows various transcripts in the gyrA re...
3,"rrnO-16S,trnO-Ile,trnO-Ala,rrnO-23S,rrnO-5S",rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14809..14843,-15.7,UUAAA<left>CCCAGCUC</left>AAU<right>GAGCUGGG</...,agrees with ribosomal RNA 5' sequence,"6312418 (Ogasawara et al., Nucleic Acids Res. ...",NaN
4,guaB,guaB,17385..17435,-15.7,CAUUU<left>GACAGGGUC</left>UCU<right>GACUCUGUC...,Northern blotting,BSORF,NaN

In [4]:
# find row indexes that contain "b/Bidirectional" string in the column "Comments" 
backup = df[df['Comments'].str.contains('idirectional').replace(float("NaN"),False).astype(bool)] 
backup_idx = backup.index

In [5]:

df = pd.concat([df, backup], ignore_index=True)
df['strand'] = ["+" for _ in range (len(df))]
df

,Genes,Operon name,Terminator position,Delta G [kcal/mole],Terminator,Evidence,References,Comments,strand
0,"dnaA,dnaN",dnaAN,3080..3115,-16.0,ACACU<left>GCUGCCGA</left>CCCG<right>UCGGCAGC<...,Northern blotting (2.9 kb transcript); transcr...,"11395445 (Ogura et al., J. Bacteriol. 183(13):...","Readthrough terminator downstream of dnaA, lea...",+
1,"yaaA,recF,yaaB,gyrB",yaaA-recF-yaaB-gyrB,6775..6825,-14.4,AAAAA<left>GCCUUAUUUC</left>CAAUAA<right>GAAAU...,S1 nuclease experiments; transcriptional and e...,"2987848 (Ogasawara et al., Nucleic Acids Res. ...",Internal promoter inside recF. Northern blotti...,+
2,gyrA,gyrA,9445..9495,-16.9,AAAAA<left>GCGCAGCUG</left>AAA<right>UAGCUGCGC...,S1 nuclease experiments; Northern blotting,"2987847 (Moriya et al., Nucleic Acids Res. 198...",BSORF shows various transcripts in the gyrA re...,+
3,"rrnO-16S,trnO-Ile,trnO-Ala,rrnO-23S,rrnO-5S",rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14809..14843,-15.7,UUAAA<left>CCCAGCUC</left>AAU<right>GAGCUGGG</...,agrees with ribosomal RNA 5' sequence,"6312418 (Ogasawara et al., Nucleic Acids Res. ...",NaN,+
4,guaB,guaB,17385..17435,-15.7,CAUUU<left>GACAGGGUC</left>UCU<right>GACUCUGUC...,Northern blotting,BSORF,NaN,+
...,...,...,...,...,...,...,...,...,...
1125,ywaA,ywaA,3957492..3957538,-16.2,AAAAA<left>GCCGGCC</left>CAUUACA<right>GGCCGGC...,Northern blotting (1.3 kb transcript); downstr...,"10746760 (Yoshida et al., Microbiology 2000, 1...",bidirectional terminator,+
1126,"licB,licC,licA,licH",licBCAH,3957502..3957551,-19.6,AAAAA<left>GCCGGCCU</left>GUAAU<right>GGGCCGGC...,Northern blotting (3.4 kb transcript),"8990303 (Tobisch et al., J. Bacteriol. 1997, 1...",bidirectional terminator,+
1127,yxjG,yxjG,3999497..3999557,-17.1,AAAAA<left>CACACUUGAUUCC</left>CUAGC<right>GGA...,Northern blotting (1.5 kb transcript),"10746760 (Yoshida et al., Microbiology 2000, 1...",bidirectional terminator,+
1128,"yxjC,scoA,scoB,yxjF",yxjC-scoAB-yxjF,3999511..3999572,-15.9,AAAAA<left>CACACUUGCUCC</left>GCUAG<right>GGAA...,Northern blotting (3.8 kb transcript),"12662922 (Eichenberger et al., J. Mol. Biol. 2...",bidirectional terminator,+
1129,"deoR,dra,nupC,pdp",deoR-dra-nupC-pdp,4047986..4048037,-17.2,AUAAA<left>GCACAUCCC</left>AUGCUGAGC<right>GGG...,Northern blotting (4.5 kb transcript),"10746760 (Yoshida et al., Microbiology 2000, 1...",Bidirectional terminator. A 3.4 kb dra-nupC-pd...,+

In [6]:
df.loc[backup_idx, 'strand'] = "-"

In [7]:

df.strand.value_counts()

+    995
-    135
Name: strand, dtype: int64

In [8]:
df.drop(["Genes", "Terminator", "Evidence", "References", "Comments"], axis=1, inplace=True)
df

,Operon name,Terminator position,Delta G [kcal/mole],strand
0,dnaAN,3080..3115,-16.0,+
1,yaaA-recF-yaaB-gyrB,6775..6825,-14.4,+
2,gyrA,9445..9495,-16.9,+
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14809..14843,-15.7,+
4,guaB,17385..17435,-15.7,+
...,...,...,...,...
1125,ywaA,3957492..3957538,-16.2,+
1126,licBCAH,3957502..3957551,-19.6,+
1127,yxjG,3999497..3999557,-17.1,+
1128,yxjC-scoAB-yxjF,3999511..3999572,-15.9,+
1129,deoR-dra-nupC-pdp,4047986..4048037,-17.2,+

In [9]:
df["gene"] = [f"NC_000964" for _ in range(len(df))]
# df["strand"] = [" " for _ in range(len(df))]
df.head()

,Operon name,Terminator position,Delta G [kcal/mole],strand,gene
0,dnaAN,3080..3115,-16.0,+,NC_000964
1,yaaA-recF-yaaB-gyrB,6775..6825,-14.4,+,NC_000964
2,gyrA,9445..9495,-16.9,+,NC_000964
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14809..14843,-15.7,+,NC_000964
4,guaB,17385..17435,-15.7,+,NC_000964

In [10]:
df["Terminator position"].replace("ND",float("NaN"), inplace=True)

df.dropna(subset=["Terminator position"], inplace=True)

df

,Operon name,Terminator position,Delta G [kcal/mole],strand,gene
0,dnaAN,3080..3115,-16.0,+,NC_000964
1,yaaA-recF-yaaB-gyrB,6775..6825,-14.4,+,NC_000964
2,gyrA,9445..9495,-16.9,+,NC_000964
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14809..14843,-15.7,+,NC_000964
4,guaB,17385..17435,-15.7,+,NC_000964
...,...,...,...,...,...
1125,ywaA,3957492..3957538,-16.2,+,NC_000964
1126,licBCAH,3957502..3957551,-19.6,+,NC_000964
1127,yxjG,3999497..3999557,-17.1,+,NC_000964
1128,yxjC-scoAB-yxjF,3999511..3999572,-15.9,+,NC_000964
1129,deoR-dra-nupC-pdp,4047986..4048037,-17.2,+,NC_000964

In [11]:
df["start"] = df["Terminator position"].map(lambda x: x.split("..")[0])
df["end"] = df["Terminator position"].map(lambda x: x.split("..")[1])
df.drop(["Terminator position"], axis=1, inplace=True)
df

,Operon name,Delta G [kcal/mole],strand,gene,start,end
0,dnaAN,-16.0,+,NC_000964,3080,3115
1,yaaA-recF-yaaB-gyrB,-14.4,+,NC_000964,6775,6825
2,gyrA,-16.9,+,NC_000964,9445,9495
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,-15.7,+,NC_000964,14809,14843
4,guaB,-15.7,+,NC_000964,17385,17435
...,...,...,...,...,...,...
1125,ywaA,-16.2,+,NC_000964,3957492,3957538
1126,licBCAH,-19.6,+,NC_000964,3957502,3957551
1127,yxjG,-17.1,+,NC_000964,3999497,3999557
1128,yxjC-scoAB-yxjF,-15.9,+,NC_000964,3999511,3999572
1129,deoR-dra-nupC-pdp,-17.2,+,NC_000964,4047986,4048037

In [12]:
df.reset_index(drop=True, inplace=True)
df["gene"] = ["NC_000964.3" for _ in range(len(df["gene"]))]
df

,Operon name,Delta G [kcal/mole],strand,gene,start,end
0,dnaAN,-16.0,+,NC_000964.3,3080,3115
1,yaaA-recF-yaaB-gyrB,-14.4,+,NC_000964.3,6775,6825
2,gyrA,-16.9,+,NC_000964.3,9445,9495
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,-15.7,+,NC_000964.3,14809,14843
4,guaB,-15.7,+,NC_000964.3,17385,17435
...,...,...,...,...,...,...
1018,ywaA,-16.2,+,NC_000964.3,3957492,3957538
1019,licBCAH,-19.6,+,NC_000964.3,3957502,3957551
1020,yxjG,-17.1,+,NC_000964.3,3999497,3999557
1021,yxjC-scoAB-yxjF,-15.9,+,NC_000964.3,3999511,3999572
1022,deoR-dra-nupC-pdp,-17.2,+,NC_000964.3,4047986,4048037

In [13]:
# replace "ND" with NaN for all dataframe
df.replace("ND", float("NaN"), inplace=True)
df.isna().sum()

Operon name            0
Delta G [kcal/mole]    6
strand                 0
gene                   0
start                  0
end                    0
dtype: int64

In [14]:
# drop rows with NaN only in the "Terminator position" column
df.dropna(subset=["Terminator position"], inplace=True)
df.isna().sum()

KeyError: ['Terminator position']

In [ ]:
# ffill the DeltaG values with the mean of the row
df["Delta G [kcal/mole]"] = df["Delta G [kcal/mole]"].fillna(df.groupby("gene")["Delta G [kcal/mole]"].transform("mean"))

# basically filled them out with 0 :(

In [ ]:
df.replace(float("NaN"), 0, inplace=True)
df.isna().sum()

Operon name            0
Delta G [kcal/mole]    0
strand                 0
gene                   0
start                  0
end                    0
dtype: int64

In [ ]:
fw = df['strand'] == "+"
bw = df['strand'] == "-"

fw

0       True
1       True
2       True
3       True
4       True
        ...
1018    True
1019    True
1020    True
1021    True
1022    True
Name: strand, Length: 1023, dtype: bool

In [ ]:
df

,Operon name,Delta G [kcal/mole],strand,gene,start,end
0,dnaAN,-16.0,+,NC_000964.3_0,3080,3115
1,yaaA-recF-yaaB-gyrB,-14.4,+,NC_000964.3_1,6775,6825
2,gyrA,-16.9,+,NC_000964.3_2,9445,9495
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,-15.7,+,NC_000964.3_3,14809,14843
4,guaB,-15.7,+,NC_000964.3_4,17385,17435
...,...,...,...,...,...,...
1018,ywaA,-16.2,+,NC_000964.3_1018,3957492,3957538
1019,licBCAH,-19.6,+,NC_000964.3_1019,3957502,3957551
1020,yxjG,-17.1,+,NC_000964.3_1020,3999497,3999557
1021,yxjC-scoAB-yxjF,-15.9,+,NC_000964.3_1021,3999511,3999572
1022,deoR-dra-nupC-pdp,-17.2,+,NC_000964.3_1022,4047986,4048037

In [ ]:

# concat two pd series a, b
idx = pd.concat([df[fw]["end"] ,df[bw]["start"]], ignore_index=True)
idx.sort_index(inplace=True)
idx

0          3115
1          6825
2          9495
3         14843
4         17435
         ...
1018    3957492
1019    3957502
1020    3999497
1021    3999511
1022    4047986
Length: 1023, dtype: object

In [ ]:
df["tts"] = idx
df.drop(["start", "end"], axis=1, inplace=True)

In [ ]:


df["start"] = df["tts"].astype(int) - 1
df["end"] = df["tts"].astype(int)

df.drop(["tts"], axis=1, inplace=True)

df

,Operon name,Delta G [kcal/mole],strand,gene,start,end
0,dnaAN,-16.0,+,NC_000964.3_0,3114,3115
1,yaaA-recF-yaaB-gyrB,-14.4,+,NC_000964.3_1,6824,6825
2,gyrA,-16.9,+,NC_000964.3_2,9494,9495
3,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,-15.7,+,NC_000964.3_3,14842,14843
4,guaB,-15.7,+,NC_000964.3_4,17434,17435
...,...,...,...,...,...,...
1018,ywaA,-16.2,+,NC_000964.3_1018,3957491,3957492
1019,licBCAH,-19.6,+,NC_000964.3_1019,3957501,3957502
1020,yxjG,-17.1,+,NC_000964.3_1020,3999496,3999497
1021,yxjC-scoAB-yxjF,-15.9,+,NC_000964.3_1021,3999510,3999511
1022,deoR-dra-nupC-pdp,-17.2,+,NC_000964.3_1022,4047985,4047986

In [ ]:
# df["name"] = df["Operon name"].copy()
# df["start"] = df["Terminator position"].astype(int) - 1 
# df["end"] = df["Terminator position"].copy()
# df["score"] = df["Delta G [kcal/mole]"].copy()

# df.drop(["Operon name", "Terminator position", "Delta G [kcal/mole]"], axis=1, inplace=True)
# df.head()

,gene,strand,name,start,end,score
0,NC_000964,,dnaAN,3079,3080,-16.0
1,NC_000964,,yaaA-recF-yaaB-gyrB,6774,6775,-14.4
2,NC_000964,,gyrA,9444,9445,-16.9
3,NC_000964,,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,14808,14809,-15.7
4,NC_000964,,guaB,17384,17385,-15.7

In [17]:
# change order of the columns   
df = df[['gene', 'start', "end", 'Operon name', 'Delta G [kcal/mole]', 'strand']].copy()
df

,gene,start,end,Operon name,Delta G [kcal/mole],strand
0,NC_000964.3,3080,3115,dnaAN,-16.0,+
1,NC_000964.3,6775,6825,yaaA-recF-yaaB-gyrB,-14.4,+
2,NC_000964.3,9445,9495,gyrA,-16.9,+
3,NC_000964.3,14809,14843,rrnO-16S-trnO-Ile-trnO-Ala-rrnO-23S-rrnO-5S,-15.7,+
4,NC_000964.3,17385,17435,guaB,-15.7,+
...,...,...,...,...,...,...
1018,NC_000964.3,3957492,3957538,ywaA,-16.2,+
1019,NC_000964.3,3957502,3957551,licBCAH,-19.6,+
1020,NC_000964.3,3999497,3999557,yxjG,-17.1,+
1021,NC_000964.3,3999511,3999572,yxjC-scoAB-yxjF,-15.9,+
1022,NC_000964.3,4047986,4048037,deoR-dra-nupC-pdp,-17.2,+

In [18]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
df.to_csv('BacillusSubtilis_168_NC000964.3.bed', sep='\t', header=False, index=False)

In [ ]:
#edited the last file name and also change it in the dir