In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TerminatorSet.txt", sep="\t",header=None, names= [i for i in range(11)], skiprows=41)
df

,0,1,2,3,4,5,6,7,8,9,10
0,ECK120033737,274,310,forward,ggaaacacagAAAAAAGCCCGCACCTGACAGTGCGGGCTTTTTTTT...,thrL,rho-independent,thrLABC,287010,NaN,NaN
1,ECK125285312,5032,5086,forward,atctattcatTATCTCAATCAGGCCGGGTTTGCTTTTATGCAGCCC...,thrLABC,rho-independent,thrLABC,11522828 30247625,NaN,NaN
2,ECK120015459,9199,9226,forward,taatcattctTAGCGTGACCGGGAAGTCGGTCACGCTAcctcttctga,talB,rho-independent,talB,7592346,NaN,NaN
3,ECK120016882,20771,20784,reverse,cataaaaaaaCCCGCTTGCGCGGGctttttcaca,"rpsT,rpsT",rho-independent,rpsT,2429258,NaN,NaN
4,ECK120030671,27252,27279,forward,aagttatgcgAAAATGCCGGTCTTGTTACCGGCATTTTttatggagaa,"ileS-lspA-fkpB-ispH,ileS-lspA-fkpB-ispH,ileS-l...",rho-independent,ribF-ileS-lspA-fkpB-ispH,2011499,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
361,ECK120026312,4600139,4600157,reverse,tggaaattaaTGCGCTGGCGGCAATGGCAcagcacagaa,"dnaTC,yjjB-dnaTC",rho-independent,yjjB-dnaTC-yjjA,2844800,NaN,NaN
362,ECK120010875,4621635,4621659,forward,tgccttgtgaAGCCGGAGCGGGAGACTGCTCCGGCtttttagtat,"deoBD,deoCABD,deoCABD",rho-independent,deoCABD,3299264,NaN,NaN
363,ECK120029975,4633111,4633144,forward,taagacgtggCGCATCAGGCATCGTGCACCGAATGCCGGATGCGgc...,trpR,rho-independent,trpR,7012834,NaN,NaN
364,ECK120010876,4639538,4639572,forward,taaggttgaaAAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTg...,"creABCD,creD",rho-independent,creABCD,3531171,NaN,NaN
365,ECK120026481,4639539,4639572,reverse,aaggttgaaaAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTga...,"arcA,arcA,arcA,arcA,arcA,arcA,arcA",rho-independent,arcA,2984198,NaN,NaN

In [4]:
df[df.columns[:]].notna().describe()

          0     1     2     3     4     5     6     7     8      9      10
count    366   366   366   366   366   366   366   366   366    366    366
unique     1     1     1     1     1     2     1     1     2      1      1
top     True  True  True  True  True  True  True  True  True  False  False
freq     366   366   366   366   366   365   366   366   357    366    366

In [5]:
df.drop(columns = df.columns[-2:-1], inplace= True)

In [9]:
df.drop(columns = df.columns[-1], inplace= True)

In [10]:
df

,0,1,2,3,4,5,6,7,8
0,ECK120033737,274,310,forward,ggaaacacagAAAAAAGCCCGCACCTGACAGTGCGGGCTTTTTTTT...,thrL,rho-independent,thrLABC,287010
1,ECK125285312,5032,5086,forward,atctattcatTATCTCAATCAGGCCGGGTTTGCTTTTATGCAGCCC...,thrLABC,rho-independent,thrLABC,11522828 30247625
2,ECK120015459,9199,9226,forward,taatcattctTAGCGTGACCGGGAAGTCGGTCACGCTAcctcttctga,talB,rho-independent,talB,7592346
3,ECK120016882,20771,20784,reverse,cataaaaaaaCCCGCTTGCGCGGGctttttcaca,"rpsT,rpsT",rho-independent,rpsT,2429258
4,ECK120030671,27252,27279,forward,aagttatgcgAAAATGCCGGTCTTGTTACCGGCATTTTttatggagaa,"ileS-lspA-fkpB-ispH,ileS-lspA-fkpB-ispH,ileS-l...",rho-independent,ribF-ileS-lspA-fkpB-ispH,2011499
...,...,...,...,...,...,...,...,...,...
361,ECK120026312,4600139,4600157,reverse,tggaaattaaTGCGCTGGCGGCAATGGCAcagcacagaa,"dnaTC,yjjB-dnaTC",rho-independent,yjjB-dnaTC-yjjA,2844800
362,ECK120010875,4621635,4621659,forward,tgccttgtgaAGCCGGAGCGGGAGACTGCTCCGGCtttttagtat,"deoBD,deoCABD,deoCABD",rho-independent,deoCABD,3299264
363,ECK120029975,4633111,4633144,forward,taagacgtggCGCATCAGGCATCGTGCACCGAATGCCGGATGCGgc...,trpR,rho-independent,trpR,7012834
364,ECK120010876,4639538,4639572,forward,taaggttgaaAAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTg...,"creABCD,creD",rho-independent,creABCD,3531171
365,ECK120026481,4639539,4639572,reverse,aaggttgaaaAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTga...,"arcA,arcA,arcA,arcA,arcA,arcA,arcA",rho-independent,arcA,2984198

In [13]:
df.drop(columns=[7,8,4,], inplace=True)

In [14]:
# df.drop(columns=[1], inplace=True)
df

           1        2        3                6
0        274      310  forward  rho-independent
1       5032     5086  forward  rho-independent
2       9199     9226  forward  rho-independent
3      20771    20784  reverse  rho-independent
4      27252    27279  forward  rho-independent
..       ...      ...      ...              ...
361  4600139  4600157  reverse  rho-independent
362  4621635  4621659  forward  rho-independent
363  4633111  4633144  forward  rho-independent
364  4639538  4639572  forward  rho-independent
365  4639539  4639572  reverse  rho-independent

[366 rows x 4 columns]

In [53]:
# chromosome, start, end, Associated gene , score, strand
df["gene"] = ["NC_000913.3" for _ in range(len(df))]
df

,1,2,3,4,6,gene
0,274,310,forward,ggaaacacagAAAAAAGCCCGCACCTGACAGTGCGGGCTTTTTTTT...,rho-independent,NC_000913.3
1,5032,5086,forward,atctattcatTATCTCAATCAGGCCGGGTTTGCTTTTATGCAGCCC...,rho-independent,NC_000913.3
2,9199,9226,forward,taatcattctTAGCGTGACCGGGAAGTCGGTCACGCTAcctcttctga,rho-independent,NC_000913.3
3,20771,20784,reverse,cataaaaaaaCCCGCTTGCGCGGGctttttcaca,rho-independent,NC_000913.3
4,27252,27279,forward,aagttatgcgAAAATGCCGGTCTTGTTACCGGCATTTTttatggagaa,rho-independent,NC_000913.3
...,...,...,...,...,...,...
361,4600139,4600157,reverse,tggaaattaaTGCGCTGGCGGCAATGGCAcagcacagaa,rho-independent,NC_000913.3
362,4621635,4621659,forward,tgccttgtgaAGCCGGAGCGGGAGACTGCTCCGGCtttttagtat,rho-independent,NC_000913.3
363,4633111,4633144,forward,taagacgtggCGCATCAGGCATCGTGCACCGAATGCCGGATGCGgc...,rho-independent,NC_000913.3
364,4639538,4639572,forward,taaggttgaaAAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTg...,rho-independent,NC_000913.3
365,4639539,4639572,reverse,aaggttgaaaAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTga...,rho-independent,NC_000913.3

In [12]:
df["score"] = [0 for _ in range(len(df))]
df

,2,3,4,6,gene,start,end,score
0,310,forward,ggaaacacagAAAAAAGCCCGCACCTGACAGTGCGGGCTTTTTTTT...,rho-independent,NC_000913.3,309,310,0
1,5086,forward,atctattcatTATCTCAATCAGGCCGGGTTTGCTTTTATGCAGCCC...,rho-independent,NC_000913.3,5085,5086,0
2,9226,forward,taatcattctTAGCGTGACCGGGAAGTCGGTCACGCTAcctcttctga,rho-independent,NC_000913.3,9225,9226,0
3,20784,reverse,cataaaaaaaCCCGCTTGCGCGGGctttttcaca,rho-independent,NC_000913.3,20783,20784,0
4,27279,forward,aagttatgcgAAAATGCCGGTCTTGTTACCGGCATTTTttatggagaa,rho-independent,NC_000913.3,27278,27279,0
...,...,...,...,...,...,...,...,...
361,4600157,reverse,tggaaattaaTGCGCTGGCGGCAATGGCAcagcacagaa,rho-independent,NC_000913.3,4600156,4600157,0
362,4621659,forward,tgccttgtgaAGCCGGAGCGGGAGACTGCTCCGGCtttttagtat,rho-independent,NC_000913.3,4621658,4621659,0
363,4633144,forward,taagacgtggCGCATCAGGCATCGTGCACCGAATGCCGGATGCGgc...,rho-independent,NC_000913.3,4633143,4633144,0
364,4639572,forward,taaggttgaaAAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTg...,rho-independent,NC_000913.3,4639571,4639572,0
365,4639572,reverse,aaggttgaaaAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTga...,rho-independent,NC_000913.3,4639571,4639572,0

In [13]:
df["strand"] = df[3].map({"forward":"+", "reverse":"-"})
df

,2,3,4,6,gene,start,end,score,strand
0,310,forward,ggaaacacagAAAAAAGCCCGCACCTGACAGTGCGGGCTTTTTTTT...,rho-independent,NC_000913.3,309,310,0,+
1,5086,forward,atctattcatTATCTCAATCAGGCCGGGTTTGCTTTTATGCAGCCC...,rho-independent,NC_000913.3,5085,5086,0,+
2,9226,forward,taatcattctTAGCGTGACCGGGAAGTCGGTCACGCTAcctcttctga,rho-independent,NC_000913.3,9225,9226,0,+
3,20784,reverse,cataaaaaaaCCCGCTTGCGCGGGctttttcaca,rho-independent,NC_000913.3,20783,20784,0,-
4,27279,forward,aagttatgcgAAAATGCCGGTCTTGTTACCGGCATTTTttatggagaa,rho-independent,NC_000913.3,27278,27279,0,+
...,...,...,...,...,...,...,...,...,...
361,4600157,reverse,tggaaattaaTGCGCTGGCGGCAATGGCAcagcacagaa,rho-independent,NC_000913.3,4600156,4600157,0,-
362,4621659,forward,tgccttgtgaAGCCGGAGCGGGAGACTGCTCCGGCtttttagtat,rho-independent,NC_000913.3,4621658,4621659,0,+
363,4633144,forward,taagacgtggCGCATCAGGCATCGTGCACCGAATGCCGGATGCGgc...,rho-independent,NC_000913.3,4633143,4633144,0,+
364,4639572,forward,taaggttgaaAAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTg...,rho-independent,NC_000913.3,4639571,4639572,0,+
365,4639572,reverse,aaggttgaaaAATAAAAACGGCGCTAAAAAGCGCCGTTTTTTTTga...,rho-independent,NC_000913.3,4639571,4639572,0,-

In [16]:
# change order of the columns   
df = df[['gene', 'start', "end", 'name', 'score', 'strand']]
df

            gene    start      end             name  score strand
0    NC_000913.3      309      310  rho-independent      0      +
1    NC_000913.3     5085     5086  rho-independent      0      +
2    NC_000913.3     9225     9226  rho-independent      0      +
3    NC_000913.3    20783    20784  rho-independent      0      -
4    NC_000913.3    27278    27279  rho-independent      0      +
..           ...      ...      ...              ...    ...    ...
361  NC_000913.3  4600156  4600157  rho-independent      0      -
362  NC_000913.3  4621658  4621659  rho-independent      0      +
363  NC_000913.3  4633143  4633144  rho-independent      0      +
364  NC_000913.3  4639571  4639572  rho-independent      0      +
365  NC_000913.3  4639571  4639572  rho-independent      0      -

[366 rows x 6 columns]

## Start of correction

In [15]:
# locate the index of all the nans 
seri = df.isna().sum(axis=1)
list(seri.loc[seri == 1].index)

[]

In [17]:
seri = [25, 193, 194, 228, 343, 344]
df.loc[seri][3] = "forward"

In [30]:
df[3][seri] = "forward"
# df.iloc[seri]

/tmp/ipykernel_76107/711010506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[3][seri] = "forward"

In [31]:
df[df[3] == "both"]

Empty DataFrame
Columns: [1, 2, 3, 6]
Index: []

In [33]:
bckup[3][seri] = "reverse"
bckup

/tmp/ipykernel_76107/1741571284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bckup[3][seri] = "reverse"
/home/amin/anaconda3/lib/python3.9/site-packages/pandas/core/series.py:1135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_values(indexer, value)

           1        2        3                6
25    361212   361236  reverse  rho-independent
193  2738912  2738940  reverse  rho-independent
194  2744115  2744169  reverse  rho-independent
228  3311372  3311398  reverse  rho-independent
343  4271007  4271061  reverse  rho-independent
344  4277927  4277957  reverse  rho-independent

In [35]:
# bckup = df[df[3] == "both"]

# df[df[3] == "both"][3] = "-"
# df[df[3] == "both"]
# df.iloc[seri][3].replace("both", "forward", inplace=True)
# df[df[3] == "both"]
# # df.iloc[25]
df = df.append(bckup, ignore_index=True)
# df = pd.concat([df, bckup], ignore_index=True)
# df.tail()
# df.loc[df[df[3] == "both"].index,3] = "reverse"
# df[df[3] == "both"]

In [36]:
df

           1        2        3                6
0        274      310  forward  rho-independent
1       5032     5086  forward  rho-independent
2       9199     9226  forward  rho-independent
3      20771    20784  reverse  rho-independent
4      27252    27279  forward  rho-independent
..       ...      ...      ...              ...
367  2738912  2738940  reverse  rho-independent
368  2744115  2744169  reverse  rho-independent
369  3311372  3311398  reverse  rho-independent
370  4271007  4271061  reverse  rho-independent
371  4277927  4277957  reverse  rho-independent

[372 rows x 4 columns]

In [37]:

fwd = df[3] == "forward"
rev = df[3] == "reverse"

In [38]:
# concat two pd series a, b
idx = pd.concat([df[fwd][2] ,df[rev][1]])
idx.sort_index(inplace=True)
idx

0          310
1         5086
2         9226
3        20771
4        27279
        ...
367    2738912
368    2744115
369    3311372
370    4271007
371    4277927
Length: 372, dtype: int64

In [39]:
df["start"] = idx -1
df["end"] = idx
df

           1        2        3                6    start      end
0        274      310  forward  rho-independent      309      310
1       5032     5086  forward  rho-independent     5085     5086
2       9199     9226  forward  rho-independent     9225     9226
3      20771    20784  reverse  rho-independent    20770    20771
4      27252    27279  forward  rho-independent    27278    27279
..       ...      ...      ...              ...      ...      ...
367  2738912  2738940  reverse  rho-independent  2738911  2738912
368  2744115  2744169  reverse  rho-independent  2744114  2744115
369  3311372  3311398  reverse  rho-independent  3311371  3311372
370  4271007  4271061  reverse  rho-independent  4271006  4271007
371  4277927  4277957  reverse  rho-independent  4277926  4277927

[372 rows x 6 columns]

In [40]:
df.drop(columns=[1,2], inplace=True)
df

           3                6    start      end
0    forward  rho-independent      309      310
1    forward  rho-independent     5085     5086
2    forward  rho-independent     9225     9226
3    reverse  rho-independent    20770    20771
4    forward  rho-independent    27278    27279
..       ...              ...      ...      ...
367  reverse  rho-independent  2738911  2738912
368  reverse  rho-independent  2744114  2744115
369  reverse  rho-independent  3311371  3311372
370  reverse  rho-independent  4271006  4271007
371  reverse  rho-independent  4277926  4277927

[372 rows x 4 columns]

In [41]:
df['score'] = [0 for _ in range(len(df))]
df['gene'] = [f"NC_000913.3_{i}" for i in range(len(df))]

In [42]:

df[3] = df[3].map({"forward":"+", "reverse":"-"})

In [43]:
df

     3                6    start      end  score             gene
0    +  rho-independent      309      310      0    NC_000913.3_0
1    +  rho-independent     5085     5086      0    NC_000913.3_1
2    +  rho-independent     9225     9226      0    NC_000913.3_2
3    -  rho-independent    20770    20771      0    NC_000913.3_3
4    +  rho-independent    27278    27279      0    NC_000913.3_4
..  ..              ...      ...      ...    ...              ...
367  -  rho-independent  2738911  2738912      0  NC_000913.3_367
368  -  rho-independent  2744114  2744115      0  NC_000913.3_368
369  -  rho-independent  3311371  3311372      0  NC_000913.3_369
370  -  rho-independent  4271006  4271007      0  NC_000913.3_370
371  -  rho-independent  4277926  4277927      0  NC_000913.3_371

[372 rows x 6 columns]

In [44]:

df = df[['gene', 'start', "end", 6, 'score', 3]]
df

                gene    start      end                6  score  3
0      NC_000913.3_0      309      310  rho-independent      0  +
1      NC_000913.3_1     5085     5086  rho-independent      0  +
2      NC_000913.3_2     9225     9226  rho-independent      0  +
3      NC_000913.3_3    20770    20771  rho-independent      0  -
4      NC_000913.3_4    27278    27279  rho-independent      0  +
..               ...      ...      ...              ...    ... ..
367  NC_000913.3_367  2738911  2738912  rho-independent      0  -
368  NC_000913.3_368  2744114  2744115  rho-independent      0  -
369  NC_000913.3_369  3311371  3311372  rho-independent      0  -
370  NC_000913.3_370  4271006  4271007  rho-independent      0  -
371  NC_000913.3_371  4277926  4277927  rho-independent      0  -

[372 rows x 6 columns]

## End of correction

In [55]:
# map NaNs as + 
# df.iloc[list(seri.loc[seri == 1].index), -1] = "+"
print(df.iloc[list(seri.loc[seri == 1].index)])

AttributeError: 'list' object has no attribute 'loc'

In [53]:
# show the rows with nans
df2 = df.iloc[list(seri.loc[seri == 1].index)]
df2["strand"] = "-"
df2

/tmp/ipykernel_23164/687745442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["strand"] = "-"

            gene    start      end             name  score strand
25   NC_000913.3   361235   361236  rho-independent      0      -
193  NC_000913.3  2738939  2738940  rho-independent      0      -
194  NC_000913.3  2744168  2744169  rho-independent      0      -
228  NC_000913.3  3311397  3311398  rho-independent      0      -
343  NC_000913.3  4271060  4271061  rho-independent      0      -
344  NC_000913.3  4277956  4277957  rho-independent      0      -

In [54]:
# append df2 to df
df = df.append(df2, ignore_index=True)

df

/tmp/ipykernel_23164/2593950066.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

            gene    start      end             name  score strand
0    NC_000913.3      309      310  rho-independent      0      +
1    NC_000913.3     5085     5086  rho-independent      0      +
2    NC_000913.3     9225     9226  rho-independent      0      +
3    NC_000913.3    20783    20784  rho-independent      0      -
4    NC_000913.3    27278    27279  rho-independent      0      +
..           ...      ...      ...              ...    ...    ...
367  NC_000913.3  2738939  2738940  rho-independent      0      -
368  NC_000913.3  2744168  2744169  rho-independent      0      -
369  NC_000913.3  3311397  3311398  rho-independent      0      -
370  NC_000913.3  4271060  4271061  rho-independent      0      -
371  NC_000913.3  4277956  4277957  rho-independent      0      -

[372 rows x 6 columns]

In [45]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
df.to_csv('EscherichiaColi_K-12_MG1655_NC000913.3.bed', sep='\t', header=False, index=False)