In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("Dataset_figshare_2.csv", header = 2)
df

,Reference genome,Strand,Position,z-score,Reference genome.1,Strand.1,Position.1,z-score.1,Reference genome.2,Strand.2,...,Position.4,z-score.4,Reference genome.5,Strand.5,Position.5,z-score.5,Reference genome.6,Strand.6,Position.6,z-score.6
0,BA000030,+,2803400.0,3013.196827,CP027859,+,1165943.0,3757.079036,NC_003888,-,...,6545309.0,5563.255591,CP020700,-,5598497.0,2936.218579,CP059991,+,1696799.0,4252.459171
1,BA000030,+,5956675.0,1914.896434,CP027858,+,2656915.0,2768.860407,NC_003888,-,...,5240538.0,1362.434642,CP020700,-,4216577.0,2841.264986,CP059991,+,1842105.0,2613.454148
2,BA000030,-,6372704.0,1783.721425,CP027858,+,4294907.0,2306.112265,NC_003888,-,...,2700255.0,681.689761,CP020700,-,2791295.0,2396.641265,CP059991,-,3514373.0,1377.991373
3,BA000030,-,6329203.0,1704.317225,CP027858,-,5767675.0,1994.685886,NC_003888,-,...,3428994.0,670.049801,CP020700,+,2637777.0,2364.531336,CP059991,+,5257267.0,802.920685
4,BA000030,-,8122352.0,1702.257887,CP027858,-,4414251.0,1504.447685,NC_003888,-,...,3996416.0,617.349303,CP020700,+,3168291.0,1745.918150,CP059991,-,4497853.0,733.296829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# seperate df into 7 dfs for each 4 cols
df_1 = df.iloc[:, 0:4]
df_2 = df.iloc[:, 4:8]
df_3 = df.iloc[:, 8:12]
df_4 = df.iloc[:, 12:16]
df_5 = df.iloc[:, 16:20]
df_6 = df.iloc[:, 20:24]
df_7 = df.iloc[:, 24:28]

df_1.head()

  Reference genome Strand   Position      z-score
0         BA000030      +  2803400.0  3013.196827
1         BA000030      +  5956675.0  1914.896434
2         BA000030      -  6372704.0  1783.721425
3         BA000030      -  6329203.0  1704.317225
4         BA000030      -  8122352.0  1702.257887

In [23]:
df_1.dropna(inplace = True)
df_2.dropna(inplace = True)
df_3.dropna(inplace = True)
df_4.dropna(inplace = True)
df_5.dropna(inplace = True)
df_6.dropna(inplace = True)
df_7.dropna(inplace = True)

In [24]:
df_2.columns

Index(['Reference genome.1', 'Strand.1', 'Position.1', 'z-score.1'], dtype='object')

In [25]:
df_1["genome"] = ["BA000030.4" + f"_{i}" for i in range(len(df_1))]
df_2["genome"] = ["CP027858.1" + f"_{i}" for i in range(len(df_2))]
df_3["genome"] = ["NC_003888.3" + f"_{i}" for i in range(len(df_3))]
df_4["genome"] = ["NC_010572.1" + f"_{i}" for i in range(len(df_4))]
df_5["genome"] = ["CP009124.1" + f"_{i}" for i in range(len(df_5))]
df_6["genome"] = ["CP020700.1" + f"_{i}" for i in range(len(df_6))]
df_7["genome"] = ["CP059991.1" + f"_{i}" for i in range(len(df_7))]



df_1["start"] = df_1["Position"] - 1
df_1["end"] = df_1["Position"]

df_2["start"] = df_2["Position.1"] - 1
df_2["end"] = df_2["Position.1"] 

df_3["start"] = df_3["Position.2"] - 1
df_3["end"] = df_3["Position.2"] 

df_4["start"] = df_4["Position.3"] - 1 
df_4["end"] = df_4["Position.3"] 

df_5["start"] = df_5["Position.4"] - 1
df_5["end"] = df_5["Position.4"] 

df_6["start"] = df_6["Position.5"] - 1
df_6["end"] = df_6["Position.5"] 

df_7["start"] = df_7["Position.6"] - 1
df_7["end"] = df_7["Position.6"] 

df_1

,Reference genome,Strand,Position,z-score,genome,start,end
0,BA000030,+,2803400.0,3013.196827,BA000030.4_0,2803399.0,2803400.0
1,BA000030,+,5956675.0,1914.896434,BA000030.4_1,5956674.0,5956675.0
2,BA000030,-,6372704.0,1783.721425,BA000030.4_2,6372703.0,6372704.0
3,BA000030,-,6329203.0,1704.317225,BA000030.4_3,6329202.0,6329203.0
4,BA000030,-,8122352.0,1702.257887,BA000030.4_4,8122351.0,8122352.0
...,...,...,...,...,...,...,...
1154,BA000030,-,1817132.0,12.035673,BA000030.4_1154,1817131.0,1817132.0
1155,BA000030,-,8484629.0,12.031127,BA000030.4_1155,8484628.0,8484629.0
1156,BA000030,+,3504593.0,12.023659,BA000030.4_1156,3504592.0,3504593.0
1157,BA000030,-,3531419.0,12.007672,BA000030.4_1157,3531418.0,3531419.0
1158,BA000030,-,5078840.0,12.006329,BA000030.4_1158,5078839.0,5078840.0

In [26]:
df_1.drop(columns = ["Position"], inplace = True)
df_2.drop(columns = ["Position.1"], inplace = True)
df_3.drop(columns = ["Position.2"], inplace = True)
df_4.drop(columns = ["Position.3"], inplace = True)
df_5.drop(columns = ["Position.4"], inplace = True)
df_6.drop(columns = ["Position.5"], inplace = True)
df_7.drop(columns = ["Position.6"], inplace = True)

In [27]:
df_1 = df_1 [["genome", "start", "end", "Reference genome", "z-score", "Strand"]]
df_2 = df_2 [["genome", "start", "end", "Reference genome.1", "z-score.1", "Strand.1"]]
df_3 = df_3 [["genome", "start", "end", "Reference genome.2", "z-score.2", "Strand.2"]]
df_4 = df_4 [["genome", "start", "end", "Reference genome.3", "z-score.3", "Strand.3"]]
df_5 = df_5 [["genome", "start", "end", "Reference genome.4", "z-score.4", "Strand.4"]]
df_6 = df_6 [["genome", "start", "end", "Reference genome.5", "z-score.5", "Strand.5"]]
df_7 = df_7 [["genome", "start", "end", "Reference genome.6", "z-score.6", "Strand.6"]]

df_1

,genome,start,end,Reference genome,z-score,Strand
0,BA000030.4_0,2803399.0,2803400.0,BA000030,3013.196827,+
1,BA000030.4_1,5956674.0,5956675.0,BA000030,1914.896434,+
2,BA000030.4_2,6372703.0,6372704.0,BA000030,1783.721425,-
3,BA000030.4_3,6329202.0,6329203.0,BA000030,1704.317225,-
4,BA000030.4_4,8122351.0,8122352.0,BA000030,1702.257887,-
...,...,...,...,...,...,...
1154,BA000030.4_1154,1817131.0,1817132.0,BA000030,12.035673,-
1155,BA000030.4_1155,8484628.0,8484629.0,BA000030,12.031127,-
1156,BA000030.4_1156,3504592.0,3504593.0,BA000030,12.023659,+
1157,BA000030.4_1157,3531418.0,3531419.0,BA000030,12.007672,-
1158,BA000030.4_1158,5078839.0,5078840.0,BA000030,12.006329,-

In [28]:
# change the type of columns start and end to int
df_1["start"] = df_1["start"].astype(int)
df_1["end"] = df_1["end"].astype(int)
df_2["start"] = df_2["start"].astype(int)
df_2["end"] = df_2["end"].astype(int)
df_3["start"] = df_3["start"].astype(int)
df_3["end"] = df_3["end"].astype(int)
df_4["start"] = df_4["start"].astype(int)
df_4["end"] = df_4["end"].astype(int)
df_5["start"] = df_5["start"].astype(int)
df_5["end"] = df_5["end"].astype(int)
df_6["start"] = df_6["start"].astype(int)
df_6["end"] = df_6["end"].astype(int)
df_7["start"] = df_7["start"].astype(int)
df_7["end"] = df_7["end"].astype(int)

In [35]:
df_7

             genome    start      end Reference genome.6    z-score.6 Strand.6
0      CP059991.1_0  1696798  1696799           CP059991  4252.459171        +
1      CP059991.1_1  1842104  1842105           CP059991  2613.454148        +
2      CP059991.1_2  3514372  3514373           CP059991  1377.991373        -
3      CP059991.1_3  5257266  5257267           CP059991   802.920685        +
4      CP059991.1_4  4497852  4497853           CP059991   733.296829        -
..              ...      ...      ...                ...          ...      ...
865  CP059991.1_865  4906981  4906982           CP059991    12.055298        -
866  CP059991.1_866  6414870  6414871           CP059991    12.040133        +
867  CP059991.1_867  8732083  8732084           CP059991    12.029622        +
868  CP059991.1_868  1788632  1788633           CP059991    12.008620        -
869  CP059991.1_869  2070203  2070204           CP059991    12.006378        +

[870 rows x 6 columns]

In [21]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    

df_1.to_csv('StreptomycesAvermitilis_MA4680_BA000030.4.bed', sep='\t', index=False, header=False)
df_2.to_csv('StreptomycesClavuligerus_ATCC27064_CP027858.1.bed', sep='\t', index=False, header=False)
df_3.to_csv('StreptomycesCoelicolor_M145_NC003888.3.bed', sep='\t', index=False, header=False)
df_4.to_csv('StreptomycesGriseus_NBRC13350_NC010572.1.bed', sep='\t', index=False, header=False)
df_5.to_csv('StreptomycesLividans_TK24_CP009124.1.bed', sep='\t', index=False, header=False)
df_6.to_csv('StreptomycesTsukubaensis_NBRC108819_CP020700.1.bed', sep='\t', index=False, header=False)
df_7.to_csv('StreptomycesVenezuelae_ATCC15439_CP059991.1.bed', sep='\t', index=False, header=False)

# Editing the clauviggerus file to chr and plasmid

In [1]:
import pandas as pd
df = pd.read_csv("StreptomycesClavuligerus_ATCC27064_CP027858.1.bed", sep = "\t", header = None)
df

                    0        1        2         3            4  5
0        CP027858.1_0  1165942  1165943  CP027859  3757.079036  +
1        CP027858.1_1  2656914  2656915  CP027858  2768.860407  +
2        CP027858.1_2  4294906  4294907  CP027858  2306.112265  +
3        CP027858.1_3  5767674  5767675  CP027858  1994.685886  -
4        CP027858.1_4  4414250  4414251  CP027858  1504.447685  -
...               ...      ...      ...       ...          ... ..
1135  CP027858.1_1135  5856749  5856750  CP027858    12.090046  +
1136  CP027858.1_1136  2154107  2154108  CP027858    12.066341  +
1137  CP027858.1_1137  3195699  3195700  CP027858    12.050096  +
1138  CP027858.1_1138  3935921  3935922  CP027858    12.050078  -
1139  CP027858.1_1139  2201583  2201584  CP027858    12.046665  -

[1140 rows x 6 columns]

In [2]:
plsmd = df[df[3] == "CP027859"]

In [3]:
plsmd

                    0        1        2         3            4  5
0        CP027858.1_0  1165942  1165943  CP027859  3757.079036  +
9        CP027858.1_9   204151   204152  CP027859   772.466752  -
12      CP027858.1_12  1100094  1100095  CP027859   609.777824  +
47      CP027858.1_47   204229   204230  CP027859   232.888766  -
60      CP027858.1_60  1374376  1374377  CP027859   185.223408  -
...               ...      ...      ...       ...          ... ..
1070  CP027858.1_1070  1099902  1099903  CP027859    12.645289  +
1089  CP027858.1_1089   894318   894319  CP027859    12.463061  -
1123  CP027858.1_1123   538660   538661  CP027859    12.152091  +
1125  CP027858.1_1125   750045   750046  CP027859    12.144950  -
1127  CP027858.1_1127  1686660  1686661  CP027859    12.131396  -

[96 rows x 6 columns]

In [4]:
df.drop(plsmd.index, inplace = True)
df

                    0        1        2         3            4  5
1        CP027858.1_1  2656914  2656915  CP027858  2768.860407  +
2        CP027858.1_2  4294906  4294907  CP027858  2306.112265  +
3        CP027858.1_3  5767674  5767675  CP027858  1994.685886  -
4        CP027858.1_4  4414250  4414251  CP027858  1504.447685  -
5        CP027858.1_5  4428745  4428746  CP027858  1133.786126  -
...               ...      ...      ...       ...          ... ..
1135  CP027858.1_1135  5856749  5856750  CP027858    12.090046  +
1136  CP027858.1_1136  2154107  2154108  CP027858    12.066341  +
1137  CP027858.1_1137  3195699  3195700  CP027858    12.050096  +
1138  CP027858.1_1138  3935921  3935922  CP027858    12.050078  -
1139  CP027858.1_1139  2201583  2201584  CP027858    12.046665  -

[1044 rows x 6 columns]

In [5]:
df[3].unique()

array(['CP027858'], dtype=object)

In [6]:
df[0] = [ f"CP027858.1_{i}" for i in range(len(df))]
df

                    0        1        2         3            4  5
1        CP027858.1_0  2656914  2656915  CP027858  2768.860407  +
2        CP027858.1_1  4294906  4294907  CP027858  2306.112265  +
3        CP027858.1_2  5767674  5767675  CP027858  1994.685886  -
4        CP027858.1_3  4414250  4414251  CP027858  1504.447685  -
5        CP027858.1_4  4428745  4428746  CP027858  1133.786126  -
...               ...      ...      ...       ...          ... ..
1135  CP027858.1_1039  5856749  5856750  CP027858    12.090046  +
1136  CP027858.1_1040  2154107  2154108  CP027858    12.066341  +
1137  CP027858.1_1041  3195699  3195700  CP027858    12.050096  +
1138  CP027858.1_1042  3935921  3935922  CP027858    12.050078  -
1139  CP027858.1_1043  2201583  2201584  CP027858    12.046665  -

[1044 rows x 6 columns]

In [7]:
plsmd[0] = [ f"CP027859.1_{i}" for i in range(len(plsmd))]
plsmd

/tmp/ipykernel_11801/1577626500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plsmd[0] = [ f"CP027859.1_{i}" for i in range(len(plsmd))]

                  0        1        2         3            4  5
0      CP027859.1_0  1165942  1165943  CP027859  3757.079036  +
9      CP027859.1_1   204151   204152  CP027859   772.466752  -
12     CP027859.1_2  1100094  1100095  CP027859   609.777824  +
47     CP027859.1_3   204229   204230  CP027859   232.888766  -
60     CP027859.1_4  1374376  1374377  CP027859   185.223408  -
...             ...      ...      ...       ...          ... ..
1070  CP027859.1_91  1099902  1099903  CP027859    12.645289  +
1089  CP027859.1_92   894318   894319  CP027859    12.463061  -
1123  CP027859.1_93   538660   538661  CP027859    12.152091  +
1125  CP027859.1_94   750045   750046  CP027859    12.144950  -
1127  CP027859.1_95  1686660  1686661  CP027859    12.131396  -

[96 rows x 6 columns]

In [8]:
df.to_csv('StreptomycesClavuligerus_ATCC27064(chr)_CP027858.1.bed', sep='\t', index=False, header=False)
plsmd.to_csv('StreptomycesClavuligerus_ATCC27064(plsmd)_CP027859.1.bed', sep='\t', index=False, header=False)