In [18]:
import pandas as pd
# show all columns 
pd.set_option('display.max_columns', None)

In [19]:
df = pd.read_excel("Table_S5_Bastet_et_al.xlsx", sheet_name="TableS5", header=0, skipfooter=399)
df

,Order,TERM_ID,Start_TT,Stop_TT,Strand,TT_Confidence,left_arm,loop,right_arm,polyU,TT_seq,Stem_length (bp),Length Loop,NºU/6,%GC,ΔG by Quickfold,Convergent,5UTR,IntraCDS,InterCDS_operon,Mean_signal_UPSTREAM_TT,Mean_signal_DOWNSTREAM_TT,Ratio_Downstream/Upstream_TT,Log2_UP,Log2_DOWN,Read-through (%),Misparing (RNAfold),INDEL,MUTATION in Sa15981,TT seq Sa15981,MUT
0,1,TERM756,1074879,1074835,-,1.00,UGAUAAAGAACCACUAAUGA,UUUA,UUAUGUAGUGGUUCUUUAUCA,UUAGCU,UGAUAAAGAACCACUAAUGAUUUAUUAUGUAGUGGUUCUUUAUCAU...,20.5,4,3,26.666667,-22.6,1.0,NaN,NaN,NaN,32.196078,77.078431,NaN,5.008813,6.268255,100.0,NaN,NaN,NaN,NaN,NaN
1,2,TERM404,643797,643819,+,0.85,UCUGCUGCUG,UAG,CAGUAGCAGG,UUCAAU,UCUGCUGCUGUAGCAGUAGCAGGUUCAAU,10.0,3,3,56.521739,-13.3,NaN,NaN,1.0,NaN,227.882353,495.686275,NaN,7.832145,8.953284,100.0,NaN,NaN,NaN,NaN,NaN
2,3,TERM418,659478,659507,+,0.90,CUAGCAAUCUCACA,UGA,UGUGAAUUGCUAG,UAUAUA,CUAGCAAUCUCACAUGAUGUGAAUUGCUAGUAUAUA,13.5,3,3,40.000000,-13.6,1.0,NaN,NaN,NaN,69.509804,149.960784,NaN,6.119145,7.228441,100.0,1.0,1.0,NaN,NaN,NaN
3,4,TERM1099,1658305,1658272,-,0.78,GAGCCCCUAAUUAUU,UAC,AAUAUAUAAGGGGCUC,UAAUAU,GAGCCCCUAAUUAUUUACAAUAUAUAAGGGGCUCUAAUAU,15.5,3,3,38.235294,-15.4,NaN,1.0,NaN,NaN,16.450980,35.196078,NaN,4.040102,5.137343,100.0,1.0,NaN,NaN,NaN,NaN
4,5,TERM1828,2555765,2555788,+,0.85,GCCACAUCC,AAUAUA,GGACGUGGC,UUUUAG,GCCACAUCCAAUAUAGGACGUGGCUUUUAG,9.0,6,4,54.166667,-12.9,1.0,NaN,NaN,NaN,112.980392,219.411765,NaN,6.819929,7.777497,100.0,1.0,NaN,1,GCCACAUCCAAUAUAGGACGCGGCUUUUAG,U21C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,562,TERM1670,2375262,2375219,-,1.00,UAGCCCGUAAAUAGAAGGUG,AUAA,CACUUUGUAUUUAUGGGCUA,UUUUAU,UAGCCCGUAAAUAGAAGGUGAUAACACUUUGUAUUUAUGGGCUAUU...,20.0,4,5,36.363636,-25.6,NaN,NaN,NaN,NaN,16.960784,0.000000,NaN,4.084131,0.000000,NaN,1.0,NaN,NaN,NaN,NaN
562,563,TERM566,848154,848113,-,1.00,CAGCAGUAAGAUGAUUCC,AAAUUA,GGAAUGAUUUUACUGCUG,UUUUCU,CAGCAGUAAGAUGAUUCCAAAUUAGGAAUGAUUUUACUGCUGUUUUCU,18.0,6,5,35.714286,-24.0,NaN,NaN,NaN,NaN,16.941176,0.000000,NaN,4.082462,0.000000,NaN,1.0,NaN,NaN,NaN,NaN
563,564,TERM373,610105,610142,+,1.00,CUAUUCACUUGAUUAAU,UGU,AUUAAUUGAGAUGAAUAG,UUUUUU,CUAUUCACUUGAUUAAUUGUAUUAAUUGAGAUGAAUAGUUUUUU,17.5,3,6,23.684211,-13.0,NaN,NaN,NaN,NaN,16.549020,0.000000,NaN,4.048674,0.000000,NaN,1.0,NaN,NaN,NaN,NaN
564,565,TERM1965,2746224,2746252,+,1.00,CCCGAGGCAUUC,AGUUC,GAACGCCUCGGG,UCGUUU,CCCGAGGCAUUCAGUUCGAACGCCUCGGGUCGUUU,12.0,5,4,65.517241,-18.9,1.0,NaN,NaN,NaN,16.549020,0.000000,NaN,4.048674,0.000000,NaN,1.0,NaN,NaN,NaN,NaN
565,566,TERM1682,2381565,2381519,-,1.00,CAAACGCAAUUGAUAUAUGGA,AUGAA,UCCGUUAAUCAACUGCGUUUG,UUUUUA,CAAACGCAAUUGAUAUAUGGAAUGAAUCCGUUAAUCAACUGCGUUU...,21.0,5,5,36.170213,-19.7,1.0,NaN,NaN,NaN,16.000000,0.000000,NaN,4.000000,0.000000,NaN,1.0,NaN,NaN,NaN,NaN

In [20]:
df = df[["Strand", "ΔG by Quickfold", "Start_TT", "Stop_TT", "TERM_ID"]]
df

    Strand  ΔG by Quickfold  Start_TT  Stop_TT   TERM_ID
0        -            -22.6   1074879  1074835   TERM756
1        +            -13.3    643797   643819   TERM404
2        +            -13.6    659478   659507   TERM418
3        -            -15.4   1658305  1658272  TERM1099
4        +            -12.9   2555765  2555788  TERM1828
..     ...              ...       ...      ...       ...
561      -            -25.6   2375262  2375219  TERM1670
562      -            -24.0    848154   848113   TERM566
563      +            -13.0    610105   610142   TERM373
564      +            -18.9   2746224  2746252  TERM1965
565      -            -19.7   2381565  2381519  TERM1682

[566 rows x 5 columns]

In [21]:
df["gene"] = [f"NC_007795.1_{i}" for i in range(len(df))]

df.drop(columns=["Start_TT"], inplace=True)
df

/tmp/ipykernel_10503/732990795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gene"] = [f"NC_007795.1_{i}" for i in range(len(df))]
/tmp/ipykernel_10503/732990795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Start_TT"], inplace=True)

    Strand  ΔG by Quickfold  Stop_TT   TERM_ID             gene
0        -            -22.6  1074835   TERM756    NC_007795.1_0
1        +            -13.3   643819   TERM404    NC_007795.1_1
2        +            -13.6   659507   TERM418    NC_007795.1_2
3        -            -15.4  1658272  TERM1099    NC_007795.1_3
4        +            -12.9  2555788  TERM1828    NC_007795.1_4
..     ...              ...      ...       ...              ...
561      -            -25.6  2375219  TERM1670  NC_007795.1_561
562      -            -24.0   848113   TERM566  NC_007795.1_562
563      +            -13.0   610142   TERM373  NC_007795.1_563
564      +            -18.9  2746252  TERM1965  NC_007795.1_564
565      -            -19.7  2381519  TERM1682  NC_007795.1_565

[566 rows x 5 columns]

In [22]:

df["start"] = df["Stop_TT"] - 1
df["end"] = df["Stop_TT"]


df.drop(columns=["Stop_TT"], inplace=True)
df

/tmp/ipykernel_10503/3864385226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["start"] = df["Stop_TT"] - 1
/tmp/ipykernel_10503/3864385226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["end"] = df["Stop_TT"]
/tmp/ipykernel_10503/3864385226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Stop_TT"], inplace=True)

    Strand  ΔG by Quickfold   TERM_ID             gene    start      end
0        -            -22.6   TERM756    NC_007795.1_0  1074834  1074835
1        +            -13.3   TERM404    NC_007795.1_1   643818   643819
2        +            -13.6   TERM418    NC_007795.1_2   659506   659507
3        -            -15.4  TERM1099    NC_007795.1_3  1658271  1658272
4        +            -12.9  TERM1828    NC_007795.1_4  2555787  2555788
..     ...              ...       ...              ...      ...      ...
561      -            -25.6  TERM1670  NC_007795.1_561  2375218  2375219
562      -            -24.0   TERM566  NC_007795.1_562   848112   848113
563      +            -13.0   TERM373  NC_007795.1_563   610141   610142
564      +            -18.9  TERM1965  NC_007795.1_564  2746251  2746252
565      -            -19.7  TERM1682  NC_007795.1_565  2381518  2381519

[566 rows x 6 columns]

In [23]:
df = df[["gene", "start", "end", "TERM_ID", "ΔG by Quickfold", "Strand"]]
df

                gene    start      end   TERM_ID  ΔG by Quickfold Strand
0      NC_007795.1_0  1074834  1074835   TERM756            -22.6      -
1      NC_007795.1_1   643818   643819   TERM404            -13.3      +
2      NC_007795.1_2   659506   659507   TERM418            -13.6      +
3      NC_007795.1_3  1658271  1658272  TERM1099            -15.4      -
4      NC_007795.1_4  2555787  2555788  TERM1828            -12.9      +
..               ...      ...      ...       ...              ...    ...
561  NC_007795.1_561  2375218  2375219  TERM1670            -25.6      -
562  NC_007795.1_562   848112   848113   TERM566            -24.0      -
563  NC_007795.1_563   610141   610142   TERM373            -13.0      +
564  NC_007795.1_564  2746251  2746252  TERM1965            -18.9      +
565  NC_007795.1_565  2381518  2381519  TERM1682            -19.7      -

[566 rows x 6 columns]

In [24]:
df.to_csv("StaphylococcusAureus_NCTC8325_NC007795.1.bed", sep='\t', header=False, index=False)