In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Supplementary Table S4.rev.xlsx", sheet_name= "Sheet1", header = 1)
df

,ID,Position,Class,Strand,Genetic context,Location,Upstream DNA sequence,Dar (2018),Adams (2021)
0,T3PE-1,267,motif-less TEP,+,thrL_t1,intergenic,CATTAGCACCACCATTACCACCACCATCACCATTACCACAGGTAAC...,NaN,NaN
1,T3PE-2,307,RIT,+,thrL_t2,intergenic,GGTAACGGTGCGGGCTGACGCGTACAGGAAACACAGAAAAAAGCCC...,NaN,NaN
2,T3PE-3,465,motif-less TEP,+,orphan,intragenic,TGCCGATATTCTGGAAAGCAATGCCAGGCAGGGGCAGGTGGCCACC...,NaN,NaN
3,T3PE-4,5076,RIT,+,thrC_t,intergenic,TGAATCATCAGTAAAATCTATTCATTATCTCAATCAGGCCGGGTTT...,NaN,NaN
4,T3PE-5,8433,motif-less TEP,+,orphan,intragenic,GCGCAGATTCCGGAATACCGTAAGTTGATTGATGATGCTGTCGCCT...,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1624,T3PE-1625,4612345,RIT,+,ytjA_t,intergenic,GAAAACGACCCTAGATTTCAGACCATTAAGAAAATTTTATCCAAAG...,NaN,NaN
1625,T3PE-1626,4628694,motif-less TEP,-,orphan,intergenic,GCGGTAAGCGTCGCATCAGGCATTGAGCACCGAATGCCGGATGCGG...,NaN,NaN
1626,T3PE-1627,4635102,motif-less TEP,-,orphan,intergenic,GCCATGCTATTGGCGCGTATATTCGTGCTCGTCGTTTGTCGAAATC...,NaN,NaN
1627,T3PE-1628,4635146,RIT,-,orphan,intergenic,TTATTCCAAGTGGCACTTACAGAGAATGTTTAAAGATGTCACTGGC...,NaN,NaN
1628,T3PE-1629,4639540,RIT,-,arcA_t,intergenic,GCGGTGATCTGGAAGATTAATCGGCTTTACCACCGTCAAAAAAAAC...,NaN,NaN

In [4]:

df.drop(["ID", "Location", "Upstream DNA sequence", "Dar (2018)", "Adams (2021)"], axis = 1, inplace = True)
df

      Position           Class Strand Genetic context
0          267  motif-less TEP      +         thrL_t1
1          307             RIT      +         thrL_t2
2          465  motif-less TEP      +          orphan
3         5076             RIT      +          thrC_t
4         8433  motif-less TEP      +          orphan
...        ...             ...    ...             ...
1624   4612345             RIT      +          ytjA_t
1625   4628694  motif-less TEP      -          orphan
1626   4635102  motif-less TEP      -          orphan
1627   4635146             RIT      -          orphan
1628   4639540             RIT      -          arcA_t

[1629 rows x 4 columns]

In [5]:
df["gene"] = ["NC_000913.3" + "_{}".format(j) for j in range(len(df))]
df

      Position           Class Strand Genetic context              gene
0          267  motif-less TEP      +         thrL_t1     NC_000913.3_0
1          307             RIT      +         thrL_t2     NC_000913.3_1
2          465  motif-less TEP      +          orphan     NC_000913.3_2
3         5076             RIT      +          thrC_t     NC_000913.3_3
4         8433  motif-less TEP      +          orphan     NC_000913.3_4
...        ...             ...    ...             ...               ...
1624   4612345             RIT      +          ytjA_t  NC_000913.3_1624
1625   4628694  motif-less TEP      -          orphan  NC_000913.3_1625
1626   4635102  motif-less TEP      -          orphan  NC_000913.3_1626
1627   4635146             RIT      -          orphan  NC_000913.3_1627
1628   4639540             RIT      -          arcA_t  NC_000913.3_1628

[1629 rows x 5 columns]

In [8]:
df["name"] = df["Class"] + "_" + df["Genetic context"]
df.drop(["Class", "Genetic context"], axis = 1, inplace = True)
df

      Position Strand              gene                    name
0          267      +     NC_000913.3_0  motif-less TEP_thrL_t1
1          307      +     NC_000913.3_1             RIT_thrL_t2
2          465      +     NC_000913.3_2   motif-less TEP_orphan
3         5076      +     NC_000913.3_3              RIT_thrC_t
4         8433      +     NC_000913.3_4   motif-less TEP_orphan
...        ...    ...               ...                     ...
1624   4612345      +  NC_000913.3_1624              RIT_ytjA_t
1625   4628694      -  NC_000913.3_1625   motif-less TEP_orphan
1626   4635102      -  NC_000913.3_1626   motif-less TEP_orphan
1627   4635146      -  NC_000913.3_1627              RIT_orphan
1628   4639540      -  NC_000913.3_1628              RIT_arcA_t

[1629 rows x 4 columns]

In [9]:


df['start'] = df['Position'] - 1
df['end'] = df['Position']

df.drop(["Position"], axis = 1, inplace = True)

df

     Strand              gene                    name    start      end
0         +     NC_000913.3_0  motif-less TEP_thrL_t1      266      267
1         +     NC_000913.3_1             RIT_thrL_t2      306      307
2         +     NC_000913.3_2   motif-less TEP_orphan      464      465
3         +     NC_000913.3_3              RIT_thrC_t     5075     5076
4         +     NC_000913.3_4   motif-less TEP_orphan     8432     8433
...     ...               ...                     ...      ...      ...
1624      +  NC_000913.3_1624              RIT_ytjA_t  4612344  4612345
1625      -  NC_000913.3_1625   motif-less TEP_orphan  4628693  4628694
1626      -  NC_000913.3_1626   motif-less TEP_orphan  4635101  4635102
1627      -  NC_000913.3_1627              RIT_orphan  4635145  4635146
1628      -  NC_000913.3_1628              RIT_arcA_t  4639539  4639540

[1629 rows x 5 columns]

In [10]:
df["score"] = 0
df = df[["gene", "start", "end", "name", "score", "Strand"]]
df

                  gene    start      end                    name  score Strand
0        NC_000913.3_0      266      267  motif-less TEP_thrL_t1      0      +
1        NC_000913.3_1      306      307             RIT_thrL_t2      0      +
2        NC_000913.3_2      464      465   motif-less TEP_orphan      0      +
3        NC_000913.3_3     5075     5076              RIT_thrC_t      0      +
4        NC_000913.3_4     8432     8433   motif-less TEP_orphan      0      +
...                ...      ...      ...                     ...    ...    ...
1624  NC_000913.3_1624  4612344  4612345              RIT_ytjA_t      0      +
1625  NC_000913.3_1625  4628693  4628694   motif-less TEP_orphan      0      -
1626  NC_000913.3_1626  4635101  4635102   motif-less TEP_orphan      0      -
1627  NC_000913.3_1627  4635145  4635146              RIT_orphan      0      -
1628  NC_000913.3_1628  4639539  4639540              RIT_arcA_t      0      -

[1629 rows x 6 columns]

In [12]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
df.to_csv('EscherichiaColi_K12-MG1655_NC000913.3.bed', sep='\t', index=False, header=False)