In [1]:
import pandas as pd
# show all columns 
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel("media-4.xlsx", sheet_name="Classification of TTS", header=0, skipfooter=0)
df

,ID,TTS position,score,strand,class,Locus,Gene,Convergent,WebGeSter,RNIE,TransTermHP,RhoTermPredict (100nt),RhoTermPredict (150nt)
0,TTS1,121,13.548702,+,I,Rv0001,dnaA,.,.,.,.,Found,Found
1,TTS2,140,5.932719,-,A,Rv0001,dnaA,Found,.,.,.,.,.
2,TTS3,1009,5.375036,-,A,Rv0001,dnaA,Found,.,.,.,Found,Found
3,TTS4,3509,5.019999,+,I,Rv0003,recF,.,.,.,.,.,.
4,TTS5,5629,9.262219,+,I,Rv0005,gyrB,.,.,.,.,Found,Found
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2562,TTS2563,4409707,5.436282,-,I,Rv3921c,Rv3921c,.,.,.,.,.,Found
2563,TTS2564,4410511,6.437341,-,I,Rv3923c,rnpA,.,.,.,.,Found,Found
2564,TTS2565,4410761,5.669583,-,I,Rv3923c,rnpA,.,.,.,.,Found,Found
2565,TTS2566,4410954,16.702594,-,O,.,.,.,.,.,.,.,.
2566,TTS2567,4411417,83.861842,+,O,.,.,.,.,.,.,.,.

In [3]:
# select only I and A from class
df = df[df['class'].isin(['I', 'A'])]
df

,ID,TTS position,score,strand,class,Locus,Gene,Convergent,WebGeSter,RNIE,TransTermHP,RhoTermPredict (100nt),RhoTermPredict (150nt)
0,TTS1,121,13.548702,+,I,Rv0001,dnaA,.,.,.,.,Found,Found
1,TTS2,140,5.932719,-,A,Rv0001,dnaA,Found,.,.,.,.,.
2,TTS3,1009,5.375036,-,A,Rv0001,dnaA,Found,.,.,.,Found,Found
3,TTS4,3509,5.019999,+,I,Rv0003,recF,.,.,.,.,.,.
4,TTS5,5629,9.262219,+,I,Rv0005,gyrB,.,.,.,.,Found,Found
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,TTS2561,4405046,5.510015,-,I,Rv3916c,Rv3916c,.,.,.,.,Found,Found
2561,TTS2562,4405476,13.831389,-,I,Rv3917c,parB,.,.,.,.,Found,Found
2562,TTS2563,4409707,5.436282,-,I,Rv3921c,Rv3921c,.,.,.,.,.,Found
2563,TTS2564,4410511,6.437341,-,I,Rv3923c,rnpA,.,.,.,.,Found,Found
2564,TTS2565,4410761,5.669583,-,I,Rv3923c,rnpA,.,.,.,.,Found,Found

In [5]:
df = df[["TTS position", "score", "strand", ]]

In [6]:
# df = df[df["Is mRNA?"] == 1]
df

      TTS position      score strand
0              121  13.548702      +
1              140   5.932719      -
2             1009   5.375036      -
3             3509   5.019999      +
4             5629   9.262219      +
...            ...        ...    ...
2560       4405046   5.510015      -
2561       4405476  13.831389      -
2562       4409707   5.436282      -
2563       4410511   6.437341      -
2564       4410761   5.669583      -

[2202 rows x 3 columns]

In [7]:
# df['start'] = df[df['Strand'] == 0 ] ["5' TSS"] - 1
# df['end'] = df[df['Strand'] == 0 ] ["5' TSS"]

df['start'] = df["TTS position"] - 1
df['end'] = df["TTS position"]

df['ref_gene'] = [f"AL123456.3" for i in range(len(df))]

/tmp/ipykernel_32888/424348217.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df["TTS position"] - 1
/tmp/ipykernel_32888/424348217.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df["TTS position"]
/tmp/ipykernel_32888/424348217.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ref_gene'] = [f"AL123456.3" for i in range(len(df))]

In [8]:
df

      TTS position      score strand    start      end    ref_gene
0              121  13.548702      +      120      121  AL123456.3
1              140   5.932719      -      139      140  AL123456.3
2             1009   5.375036      -     1008     1009  AL123456.3
3             3509   5.019999      +     3508     3509  AL123456.3
4             5629   9.262219      +     5628     5629  AL123456.3
...            ...        ...    ...      ...      ...         ...
2560       4405046   5.510015      -  4405045  4405046  AL123456.3
2561       4405476  13.831389      -  4405475  4405476  AL123456.3
2562       4409707   5.436282      -  4409706  4409707  AL123456.3
2563       4410511   6.437341      -  4410510  4410511  AL123456.3
2564       4410761   5.669583      -  4410760  4410761  AL123456.3

[2202 rows x 6 columns]

In [9]:
df['name'] = "name" 
# df.drop(columns=["ref_gene"], inplace=True)
df = df[["ref_gene", "start", "end", 'name', "score", "strand"]]
df['start'] = df['start'].astype(int)
df['end'] = df['end'].astype(int)

/tmp/ipykernel_32888/2847032060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'] = "name"
/tmp/ipykernel_32888/2847032060.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df['start'].astype(int)
/tmp/ipykernel_32888/2847032060.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df['end'].astype(int)

In [10]:
df

        ref_gene    start      end  name      score strand
0     AL123456.3      120      121  name  13.548702      +
1     AL123456.3      139      140  name   5.932719      -
2     AL123456.3     1008     1009  name   5.375036      -
3     AL123456.3     3508     3509  name   5.019999      +
4     AL123456.3     5628     5629  name   9.262219      +
...          ...      ...      ...   ...        ...    ...
2560  AL123456.3  4405045  4405046  name   5.510015      -
2561  AL123456.3  4405475  4405476  name  13.831389      -
2562  AL123456.3  4409706  4409707  name   5.436282      -
2563  AL123456.3  4410510  4410511  name   6.437341      -
2564  AL123456.3  4410760  4410761  name   5.669583      -

[2202 rows x 6 columns]

In [11]:
df.to_csv("MycobacteriumTuberculosis_H37Rv_AL123456.3.bed", sep='\t', header=False, index=False)

In [12]:
df['start'] = df['start'] - 50
df['end'] = df['end'] + 50
df.to_csv("MycobacteriumTuberculosis_H37Rv_AL123456.3_100bp.bed", sep='\t', header=False, index=False)

/tmp/ipykernel_32888/2282648534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df['start'] - 50
/tmp/ipykernel_32888/2282648534.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df['end'] + 50

In [13]:
df['start'] = df['start'] - 250
df['end'] = df['end'] + 250
df.to_csv("300bp.bed", sep='\t', header=False, index=False)

/tmp/ipykernel_32888/3857229399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df['start'] - 250
/tmp/ipykernel_32888/3857229399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df['end'] + 250