In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("TTSs.tab", sep="\t", header=None)
df.head()

            0     1     2
0  VP_RS00005   328    92
1  VP_RS00010   869    82
2  VP_RS00015  2344   499
3  VP_RS00020  3965   414
4  VP_RS00025  4053  1180

In [14]:
# chromosome, start, end, Associated gene , score, strand
df['gene'] = [f"NC_004603.1_{i}" for i in range(len(df))]
df

               0        1     2              gene
0     VP_RS00005      328    92     NC_004603.1_0
1     VP_RS00010      869    82     NC_004603.1_1
2     VP_RS00015     2344   499     NC_004603.1_2
3     VP_RS00020     3965   414     NC_004603.1_3
4     VP_RS00025     4053  1180     NC_004603.1_4
...          ...      ...   ...               ...
4585  VP_RS23515  1872686     1  NC_004603.1_4585
4586  VP_RS23515  1872696     1  NC_004603.1_4586
4587  VP_RS23520  1874873    74  NC_004603.1_4587
4588  VP_RS23520  1874901    31  NC_004603.1_4588
4589  VP_RS23525  1874871    27  NC_004603.1_4589

[4590 rows x 4 columns]

In [15]:
df["start"] = df[1] - 1
df["end"] = df[1]

In [16]:
df

               0        1     2              gene    start      end
0     VP_RS00005      328    92     NC_004603.1_0      327      328
1     VP_RS00010      869    82     NC_004603.1_1      868      869
2     VP_RS00015     2344   499     NC_004603.1_2     2343     2344
3     VP_RS00020     3965   414     NC_004603.1_3     3964     3965
4     VP_RS00025     4053  1180     NC_004603.1_4     4052     4053
...          ...      ...   ...               ...      ...      ...
4585  VP_RS23515  1872686     1  NC_004603.1_4585  1872685  1872686
4586  VP_RS23515  1872696     1  NC_004603.1_4586  1872695  1872696
4587  VP_RS23520  1874873    74  NC_004603.1_4587  1874872  1874873
4588  VP_RS23520  1874901    31  NC_004603.1_4588  1874900  1874901
4589  VP_RS23525  1874871    27  NC_004603.1_4589  1874870  1874871

[4590 rows x 6 columns]

In [17]:
df.drop([1], axis=1, inplace=True)
df

               0     2              gene    start      end
0     VP_RS00005    92     NC_004603.1_0      327      328
1     VP_RS00010    82     NC_004603.1_1      868      869
2     VP_RS00015   499     NC_004603.1_2     2343     2344
3     VP_RS00020   414     NC_004603.1_3     3964     3965
4     VP_RS00025  1180     NC_004603.1_4     4052     4053
...          ...   ...               ...      ...      ...
4585  VP_RS23515     1  NC_004603.1_4585  1872685  1872686
4586  VP_RS23515     1  NC_004603.1_4586  1872695  1872696
4587  VP_RS23520    74  NC_004603.1_4587  1874872  1874873
4588  VP_RS23520    31  NC_004603.1_4588  1874900  1874901
4589  VP_RS23525    27  NC_004603.1_4589  1874870  1874871

[4590 rows x 5 columns]

In [18]:
# change order of the columns   
df = df[['gene', 'start', 'end', 0, 2,]]
df

                  gene    start      end           0     2
0        NC_004603.1_0      327      328  VP_RS00005    92
1        NC_004603.1_1      868      869  VP_RS00010    82
2        NC_004603.1_2     2343     2344  VP_RS00015   499
3        NC_004603.1_3     3964     3965  VP_RS00020   414
4        NC_004603.1_4     4052     4053  VP_RS00025  1180
...                ...      ...      ...         ...   ...
4585  NC_004603.1_4585  1872685  1872686  VP_RS23515     1
4586  NC_004603.1_4586  1872695  1872696  VP_RS23515     1
4587  NC_004603.1_4587  1874872  1874873  VP_RS23520    74
4588  NC_004603.1_4588  1874900  1874901  VP_RS23520    31
4589  NC_004603.1_4589  1874870  1874871  VP_RS23525    27

[4590 rows x 5 columns]

# Adding strand from gene annotation

In [28]:
# read sequence.txt file and save the lines that have "complement" in them in a list
with open("sequence (2).txt", "r") as f:
    lines = f.readlines()
    lines = [line.strip() for line in lines if "complement" in line]
lines[:5]

['>lcl|NC_004603.1_gene_1 [gene=mioC] [locus_tag=VP_RS00005] [db_xref=GeneID:1187457] [location=complement(371..805)] [gbkey=Gene]',
 '>lcl|NC_004603.1_gene_2 [gene=mnmE] [locus_tag=VP_RS00010] [db_xref=GeneID:1187458] [location=complement(910..2271)] [gbkey=Gene]',
 '>lcl|NC_004603.1_gene_3 [gene=yidC] [locus_tag=VP_RS00015] [db_xref=GeneID:1187459] [location=complement(2389..4011)] [gbkey=Gene]',
 '>lcl|NC_004603.1_gene_4 [gene=yidD] [locus_tag=VP_RS00020] [db_xref=GeneID:44139968] [location=complement(4014..4271)] [gbkey=Gene]',
 '>lcl|NC_004603.1_gene_5 [gene=rnpA] [locus_tag=VP_RS00025] [db_xref=GeneID:1187460] [location=complement(4238..4561)] [gbkey=Gene]']

In [30]:

# extract the locus tag of the complement regions
locus = [line.split("locus_tag=")[1].split("]")[0] for line in lines]
print(locus[:5])

['VP_RS00005', 'VP_RS00010', 'VP_RS00015', 'VP_RS00020', 'VP_RS00025']

In [31]:
df

                  gene    start      end           0     2
0        NC_004603.1_0      327      328  VP_RS00005    92
1        NC_004603.1_1      868      869  VP_RS00010    82
2        NC_004603.1_2     2343     2344  VP_RS00015   499
3        NC_004603.1_3     3964     3965  VP_RS00020   414
4        NC_004603.1_4     4052     4053  VP_RS00025  1180
...                ...      ...      ...         ...   ...
4585  NC_004603.1_4585  1872685  1872686  VP_RS23515     1
4586  NC_004603.1_4586  1872695  1872696  VP_RS23515     1
4587  NC_004603.1_4587  1874872  1874873  VP_RS23520    74
4588  NC_004603.1_4588  1874900  1874901  VP_RS23520    31
4589  NC_004603.1_4589  1874870  1874871  VP_RS23525    27

[4590 rows x 5 columns]

In [32]:
df[5] = df.apply(lambda x: "+" if x[0] not in locus else "-", axis=1)
df

/tmp/ipykernel_99204/368829250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[5] = df.apply(lambda x: "+" if x[0] not in locus else "-", axis=1)

                  gene    start      end           0     2  5
0        NC_004603.1_0      327      328  VP_RS00005    92  -
1        NC_004603.1_1      868      869  VP_RS00010    82  -
2        NC_004603.1_2     2343     2344  VP_RS00015   499  -
3        NC_004603.1_3     3964     3965  VP_RS00020   414  -
4        NC_004603.1_4     4052     4053  VP_RS00025  1180  -
...                ...      ...      ...         ...   ... ..
4585  NC_004603.1_4585  1872685  1872686  VP_RS23515     1  +
4586  NC_004603.1_4586  1872695  1872696  VP_RS23515     1  +
4587  NC_004603.1_4587  1874872  1874873  VP_RS23520    74  +
4588  NC_004603.1_4588  1874900  1874901  VP_RS23520    31  +
4589  NC_004603.1_4589  1874870  1874871  VP_RS23525    27  +

[4590 rows x 6 columns]

In [34]:
df.head(40)

              gene  start    end           0     2  5
0    NC_004603.1_0    327    328  VP_RS00005    92  -
1    NC_004603.1_1    868    869  VP_RS00010    82  -
2    NC_004603.1_2   2343   2344  VP_RS00015   499  -
3    NC_004603.1_3   3964   3965  VP_RS00020   414  -
4    NC_004603.1_4   4052   4053  VP_RS00025  1180  -
5    NC_004603.1_5   4052   4053  VP_RS00030  1370  -
6    NC_004603.1_6   4543   4544  VP_RS00030  1030  -
7    NC_004603.1_7   4543   4544  VP_RS00035    19  -
8    NC_004603.1_8   6425   6426  VP_RS00045   207  -
9    NC_004603.1_9   9158   9159  VP_RS00050    22  +
10  NC_004603.1_10  10332  10333  VP_RS00055    86  +
11  NC_004603.1_11  13818  13819  VP_RS00065    97  +
12  NC_004603.1_12  14671  14672  VP_RS00070     2  +
13  NC_004603.1_13  15558  15559  VP_RS00075    78  +
14  NC_004603.1_14  15542  15543  VP_RS00080    13  -
15  NC_004603.1_15  17017  17018  VP_RS00085     2  -
16  NC_004603.1_16  19304  19305  VP_RS00090   205  -
17  NC_004603.1_17  23900  23901  VP_RS00100    20  +
18  NC_004603.1_18  23900  23901  VP_RS00105    34  +
19  NC_004603.1_19  23866  23867  VP_RS00110   115  -
20  NC_004603.1_20  24587  24588  VP_RS00115     8  +
21  NC_004603.1_21  25615  25616  VP_RS00120    10  +
22  NC_004603.1_22  25591  25592  VP_RS00125   104  -
23  NC_004603.1_23  26808  26809  VP_RS00130    14  -
24  NC_004603.1_24  27329  27330  VP_RS00135     1  -
25  NC_004603.1_25  32744  32745  VP_RS00145     1  +
26  NC_004603.1_26  33072  33073  VP_RS00145     1  +
27  NC_004603.1_27  33454  33455  VP_RS00145     1  +
28  NC_004603.1_28  33476  33477  VP_RS00150    41  +
29  NC_004603.1_29  35212  35213  VP_RS00155    30  +
30  NC_004603.1_30  35534  35535  VP_RS00160   859  +
31  NC_004603.1_31  35534  35535  VP_RS00165   882  +
32  NC_004603.1_32  35534  35535  VP_RS00170   673  +
33  NC_004603.1_33  38900  38901  VP_RS00175     1  +
34  NC_004603.1_34  38955  38956  VP_RS00180     1  +
35  NC_004603.1_35  38992  38993  VP_RS00180     3  +
36  NC_004603.1_36  38998  38999  VP_RS00185     5  -
37  NC_004603.1_37  41694  41695  VP_RS00190    37  +
38  NC_004603.1_38  41663  41664  VP_RS00195    27  -
39  NC_004603.1_39  41729  41730  VP_RS00195    72  -

In [35]:
df.to_csv("VibrioParahaemolyticus_RIMD2210633_NC_004603.1.bed", sep='\t', header=False, index=False)

## Filter only terminators that at least 10 reads support them

In [1]:
import pandas as pd
df = pd.read_csv("VibrioParahaemolyticus_RIMD2210633_NC_004603.1.bed", sep="\t", header=None)
df

                     0        1        2           3     4  5
0        NC_004603.1_0      327      328  VP_RS00005    92  -
1        NC_004603.1_1      868      869  VP_RS00010    82  -
2        NC_004603.1_2     2343     2344  VP_RS00015   499  -
3        NC_004603.1_3     3964     3965  VP_RS00020   414  -
4        NC_004603.1_4     4052     4053  VP_RS00025  1180  -
...                ...      ...      ...         ...   ... ..
4585  NC_004603.1_4585  1872685  1872686  VP_RS23515     1  +
4586  NC_004603.1_4586  1872695  1872696  VP_RS23515     1  +
4587  NC_004603.1_4587  1874872  1874873  VP_RS23520    74  +
4588  NC_004603.1_4588  1874900  1874901  VP_RS23520    31  +
4589  NC_004603.1_4589  1874870  1874871  VP_RS23525    27  +

[4590 rows x 6 columns]

In [6]:
# select the rows that have 5th column value >= 10
df = df[df[4] >= 10].copy()
df

                     0        1        2           3     4  5
0        NC_004603.1_0      327      328  VP_RS00005    92  -
1        NC_004603.1_1      868      869  VP_RS00010    82  -
2        NC_004603.1_2     2343     2344  VP_RS00015   499  -
3        NC_004603.1_3     3964     3965  VP_RS00020   414  -
4        NC_004603.1_4     4052     4053  VP_RS00025  1180  -
...                ...      ...      ...         ...   ... ..
4559  NC_004603.1_4559  1860170  1860171  VP_RS23455    11  +
4560  NC_004603.1_4560  1860203  1860204  VP_RS23455    16  +
4587  NC_004603.1_4587  1874872  1874873  VP_RS23520    74  +
4588  NC_004603.1_4588  1874900  1874901  VP_RS23520    31  +
4589  NC_004603.1_4589  1874870  1874871  VP_RS23525    27  +

[2214 rows x 6 columns]

In [9]:
df[0] = [f"NC_004603.1_{i}" for i in range(len(df))]
df

                     0        1        2           3     4  5
0        NC_004603.1_0      327      328  VP_RS00005    92  -
1        NC_004603.1_1      868      869  VP_RS00010    82  -
2        NC_004603.1_2     2343     2344  VP_RS00015   499  -
3        NC_004603.1_3     3964     3965  VP_RS00020   414  -
4        NC_004603.1_4     4052     4053  VP_RS00025  1180  -
...                ...      ...      ...         ...   ... ..
4559  NC_004603.1_2209  1860170  1860171  VP_RS23455    11  +
4560  NC_004603.1_2210  1860203  1860204  VP_RS23455    16  +
4587  NC_004603.1_2211  1874872  1874873  VP_RS23520    74  +
4588  NC_004603.1_2212  1874900  1874901  VP_RS23520    31  +
4589  NC_004603.1_2213  1874870  1874871  VP_RS23525    27  +

[2214 rows x 6 columns]

In [10]:
df.to_csv("VibrioParahaemolyticus_RIMD2210633_NC004603.1.bed", sep='\t', header=False, index=False)